---
title: Travelogue
layout: page
override:tags: []
eleventyExcludeFromCollections: true
---

<p>
  Every time I remember sleeping away from home or otherwise making a travel reservation.
</p>

<section class="timeline reverse">
{% set lastYear = 0 %}
<ol>
{% for trip in collections.trips | reverse %}
  {% set year = trip.date | date('YYYY') %}
  <li class="timeline-entry shown" data-year="{{ year }}" data-type="trip">
    <time datetime="{{ trip.date | date('iso8601') }}" data-year="{{ year }}" class="year{{ ' first' if (year != lastYear) }}">
      {{ year }}
    </time>
    <div>
      <a href="{{ trip.url }}">{{ trip.data.title }}</a>
      <div class="meta">
        <time datetime="{{ trip.date | date('iso8601') }}">{{ trip.date | date('nice') }}</time>
      </div>
    </div>
  </li>
  {% set lastYear = year %}
{% endfor %}
</ol>

</section>
