<footer class="bottom-footer">
{% if page.url != '/' %}
  <p>
    <a href="/about/">Hans Gerwitz</a> is an American emigrant.
  </p>
{% endif %}
{% if page.url != '/site/' %}
  <p>
    <span class="mini-note">The contents of hans.gerwitz.com are licensed CC-BY-4.0. Learn more at <a href="/site/" class="internal">site</a>.</span>
  </p>
{% endif %}
</footer>
