<header>
  <div class="breadcrumb">
    {% if page.fileSlug != '' %}
      <a class="site-title" href="/">hans.gerwitz.com{{ "/" if breadcrumbs }}</a>
      {% for crumb in breadcrumbs %}
        <a href="/{{ breadcrumbs | join("/") }}">{{ crumb }}</a>
      {% endfor %}
    {% endif %}
  </div>
</header>
