{% set relatedSource = related.sources[page.url] %}
{% set isDatedContent = bodyClass == "writing" or bodyClass == "note" %}
{% set hasSyndication = syndication and syndication.length %}
{% set hasRelatedContent = relatedSource and relatedSource.related.length %}
{% if isDatedContent or hasSyndication or hasRelatedContent %}
<div class="content-meta">
  {% if isDatedContent %}
  <div>
    {{ title }} was posted {{ page.date | date("MMMM YYYY") }}
    during {{ page.date | weeklink | safe }}
    {%- if hasSyndication %}
      also on:
      <ul>
        {% for target in syndication -%}
          <li><a href="{{ target }}">{{ target | hostname }}</a></li>
        {%- endfor %}
      </ul>
    {%- else -%}.{% endif -%}
  </div>
  {% endif %}

  {% if hasRelatedContent %}
  <div class="related-content">
    Related pages:
    <ul>
    {% for item in relatedSource.related %}
      <li class="{{ item.kind }}" data-score="{{ item.score }}">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endif %}
