{% set relatedSource = related.sources[page.url] %}
{% set isDatedContent = bodyClass == "writing" or bodyClass == "note" %}
{% set hasCrossposts = crossposts and crossposts.length %}
{% set hasRelatedContent = relatedSource and relatedSource.related.length %}
{% if isDatedContent or hasCrossposts or hasRelatedContent %}
<div class="content-meta">
  <div>
    {% if isDatedContent %}
    Posted during {{ page.date | weeklink | safe }} ({{ page.date | date("MMMM YYYY") }})
    {%- if hasCrossposts -%}
      , also on:
      <ul>
        {% for target in crossposts -%}
          <li><a href="{{ target }}">{{ target | hostname }}</a></li>
        {%- endfor %}
      </ul>
    {% endif %}
    {% endif %}

    {% if isDatedContent and hasRelatedContent %}
    <hr class="content-meta-separator">
    {% endif %}

    {% if hasRelatedContent %}
    <section class="related-content">
      Related pages:
      <ul>
      {% for item in relatedSource.related %}
        <li class="{{ item.kind }}" data-score="{{ item.score }}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </section>
    {% endif %}
  </div>
</div>
{% endif %}
