<footer class="bottom-footer">
  {% if (page.url != '/') %}
  <dl>
    <dt>{{ "writing" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>{{ collections.writing | length }} posts and articles</dd>

    <dt>{{ "notes" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>{{ collections.notes | length }} short, tweet-like notes</dd>

    <dt>{{ "projects" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>Selected projects</dd>
<!--
    <dt>{{ "ideas" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>A few subjects I find important</dd>
-->
    <dt>{{ "lists" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>Lists of whatever else</dd>

    <dt>{{ "about" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>About me</dd>

    <dt>{{ "logs" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>Personal history</dd>

    <dt>{{ "weeks" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>An archive of dated content, by week</dd>

    <dt>{{ "site" | navpath(eleventyComputed.crumbtrail) }}</dt>
    <dd>About this site</dd>
  </dl>

  {% endif %}

  <hr>

  {% if (page.url != '/') and (page.url != '/about/') %}
    <p>
      <a href="/about/">Hans Gerwitz</a> is an American emigrant.
    </p>
  {% endif %}
  <div class="mini-note">
    The contents of hans.gerwitz.com are licensed CC-BY-4.0.
  </div>
  <div class="mini-note">
    Learn more at <a href="/site/" class="internal">site</a>.
  </div>
</footer>
