{# .main-header .pale #}
{% if page.url == '/' %}
<span class="site-title">{% tree 32 %}</span>
<div class="breadcrumb">
  <span>hans.gerwitz.com</span>
{% else %}
<a class="site-title" href="/" aria-label="home page">{% tree 32 %}</a>
<div class="breadcrumb">
  {% set crumbPath = '/' %}
  {% if not breadcrumbs %}
    {% set breadcrumbs = page.url.split('/').slice(1,-1) %}
  {% endif %}
  {% for crumb in breadcrumbs %}
    {% if loop.last %}
      <span class="internal">{{ crumb }}</a>
    {% else %}
      {% set crumbPath = crumbPath + crumb + '/' %}
      <a class="internal" href="{{ crumbPath }}">{{ crumb }}</a>
    {% endif %}
  {% endfor %}
{% endif %}
</div>
