{% set previewTitle = item.data.title or item.fileSlug %}
{% set previewSummary = item.data.preview.summary or item.data.abstract or item.data.description or item.data.subtitle %}
<article class="preview preview-large">
  <h3><a href="{{ item.url }}">{{ previewTitle }}</a></h3>
  {% if item.data.date or item.data.wordCount %}
  <p class="preview-meta">
    {% if item.data.date %}
    <time datetime="{{ item.data.date | date('iso8601') }}">{{ item.data.date | date('MMMM Do, YYYY') }}</time>
    {% endif %}
    {% if item.data.date and item.data.wordCount %} · {% endif %}
    {% if item.data.wordCount %}{{ item.data.wordCount }} words{% endif %}
  </p>
  {% endif %}
  {% if previewSummary %}
  <p class="preview-summary">{{ previewSummary }}</p>
  {% endif %}
</article>
