{% set previewTitle = item.data.title or item.fileSlug %}
{# Keep this icon markup in sync with the icon mapping in eleventy/shortcodes/previews.js. #}
<a class="preview preview-small" href="{{ item.url }}"><span class="preview-icon" aria-hidden="true" style="--preview-icon: url('/styles/icons/{{ item.data.previewIconName or 'other' }}.png')"></span>{{ previewTitle }}</a>
