{% set relatedSource = related.sources[page.url] %}
{% if relatedSource and relatedSource.related.length %}
<section class="related-content" aria-labelledby="related-content-heading">
  <h2 id="related-content-heading">Like this</h2>
  <ul>
  {% for item in relatedSource.related %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
      <span>{{ item.kind }}{% if item.category.length %}; {{ item.category | join(", ") }}{% endif %}; {{ item.score }}</span>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
