{% set cartridge = cartridge or "orbital" %}
<div class="toy-screen" aria-hidden="true">
  <canvas class="pico-8-player" width="128" height="128"></canvas>
  <script>
    window.Module = {
      canvas: document.currentScript.previousElementSibling,
    };
  </script>
  <script src="/toys/pico-8/{{ cartridge }}.js"></script>
</div>
