---
permalink: /editions/gemini/lists/index.gmi
eleventyExcludeFromCollections: true
---
# Lists

{% for entry in collections.lists -%}
{% if entry.url.indexOf("/lists/") == 0 and entry.url.indexOf("/", ("/lists/" | length)) == entry.url.length - 1 -%}
=> {{ entry.url | geminiPath }} {{ (entry.data.title or entry.page.fileSlug) | plaintext | safe }}
{% endif -%}
{% endfor %}
=> /index.gmi Capsule home
