---
title: Confessions
layout: index
override:tags: []
eleventyExcludeFromCollections: true
---

<ul>
{%- for page in collections.confessions -%}
  <li>
    I <a href="{{ page.url }}">{{ page.data.confession }}</a>.
  </li>
{%- endfor -%}
</ul>
