---
title: Sitemap
layout: page
eleventyExcludeFromCollections: true
---

<p>
    Most of what's here is in one of these buckets.
</p>

<dl>

<dt><a href="/writing/" class="internal">writing</a></dt>
<dd>{{ collections.writing | length }} posts and articles</dd>

<dt><a href="/notes/" class="internal">notes</a></dt>
<dd>{{ collections.notes | length }} short, tweet-like notes</dd>

<dt><a href="/weeks/" class="internal">weeks</a></dt>
<dd>An archive of dated content, by week</dd>

<dt><a href="/now/" class="internal">now</a></dt>
<dd>&#8594; The most recent week notes as my <a href="https://nownownow.com">now page</a></dd>

<!--
<dt><a href="/ideas/" class="internal">ideas</a>
<dd>Key ideas</dd>
-->

<!--
<dt><a href="/projects/" class="internal">projects</a>
<dd>The laboratory, with documentation of a few old projects</dd>
-->

<dt><a href="/lists/" class="internal">lists</a></dt>
<dd>Random collections</dd>

<dt><a href="/about/" class="internal">about</a></dt>
<dd>All about me</dd>

<dt><a href="/site/" class="internal">site</a></dt>
<dd>About this site</dd>

<dt><a href="/using/" class="internal">using</a></dt>
<dd>&#8594; A <a href="https://twitter.com/mattgemmell/status/700069800861679616">standard</a> toolkit list</dd>

</dl>
