---
title: Sitemap
layout: page
eleventyExcludeFromCollections: true
---

<p>
    Most of what's here is in one of these buckets.
</p>

<dl>

<dt><a href="/writing/" class="internal">writing</a>
<dd>{{ collections.writing | length }} posts and articles</dd>

<dt><a href="/notes/" class="internal">notes</a>
<dd>{{ collections.notes | length }} short, tweet-like notes</dd>

<!--
<dt><a href="/weeks/" class="internal">weeks</a>
<dd>An archive of dated content, by week</dd>
-->

<!--
<dt><a href="/ideas/" class="internal">ideas</a>
<dd>Key ideas</dd>
-->

<!--
<dt><a href="/projects/" class="internal">projects</a>
<dd>The laboratory, with documentation of a few old projects</dd>
-->

<dt><a href="/lists/" class="internal">lists</a>
<dd>Collections of random things</dd>

<dt><a href="/about/" class="internal">about</a>
<dd>All about Hans</dd>

<dt><a href="/site/" class="internal">site</a>
<dd>About this very site</dd>


</dl>
