---
permalink: /editions/gemini/capsule/index.gmi
eleventyExcludeFromCollections: true
---
# About this capsule

This is effectively a mirror of my website.

I am committed to an open, indie internet, enjoy fringe cultures, and can be nostalgic for old technology. So Gemini is right in my interests.

That said, it is far from my ideal, which would offer more design freedom to authors. I am also not quite convinced the community is sustainable. I want to contribute but felt guilty about my first launch(1) resulting in one of those too-common "Hello world" capsules that promise an ongoing presence that never evolves.
=> /2021/02/09/gemini.gmi (1) Discovering Gemini

With this setup, even if I drift away from this civilization, my regular posts will still be shared here. Hopefully someone finds them, reaches out with a reaction, and reminds me of this more-cozy web.

=> / Capsule home
