---
title: Chronofile
layout: page
---

Too much detail about my life so far:

<dl>

<dt><span class="internal">history</span><a href="/history/events/" class="internal">events</a></dt>
<dd>Life events</dd>

<dt><span class="internal">history</span><a href="/history/travel/" class="internal">travel</a></dt>
<dd>Travelogue</dd>

<dt><span class="internal">history</span><a href="/history/appearances/" class="internal">appearances</a></dt>
<dd>Public appearances</dd>

</dl>
