---
title: Ideas
eleventyExcludeFromCollections: true
---

Some concepts are very important to culture, or to me. This doesn't make my thoughts about them important, but it does make me want to collect them here.
