---
title: Ideas
layout: index
eleventyExcludeFromCollections: true
---

<figure class="c-blockquote">
  <blockquote>
    <p>
      All models are wrong but some are useful.
    </p>
  </blockquote>
  <figcaption class="c-blockquote__attribution">
    George E P Box
    (<a href="https://books.google.com/books?id=dabiBQAAQBAJ&lpg=PA201&pg=PA202#v=onepage&q=%22All%20models%20are%20wrong%20but%20some%20are%20useful%22&f=true">1978</a>)
  </figcaption>
</figure>

Some concepts are very important to culture, or to me. This doesn't make my thoughts about them important, but it does make me want to collect them here.
