---
pagination:
  data: events
  size: 1
  alias: event
events:
-
  date: 1974-03-09
  geo: [38.63295, -90.31108]
  location:  St. Mary's Hospital
  type: life
  link: https://www.wikitree.com/genealogy/Gerwitz-Family-Tree-222
  text:
    Born
  slug: birth
-
  date: 1974-01-01
  geo: [38.748699, -90.301602]
  location:  145 N. Clay
  type: home
  text:
    Moved to Ferguson, MO
  slug: ferguson
-
  date: 1976-01-01
  type: life
  text:
    First word was "clock"
  slug: speech
-
  date: 1978-01-01
  type: school
  geo: [38.727461, -90.305067]
  location:  Cool Valley
  text:
    Began preschool tutoring
  slug: preschool
-
  date: 1978-10-09
  type: life
  text:
    Brother Kurt born
  slug: kurt
-
  date: 1978-01-01
  type: life
  text:
    Started wearing glasses and eye patches to treat amblyopia
-
  date: 1979-01-01
  type: school
  geo: [38.749066, -90.298306]
  location:  140 North Elizabeth
  link: https://www.pinterest.com/pin/520236194428927724/
  text:
    Started kindergarten at Sts. John and James
-
  date: 1980-01-01
  type: life
  text:
    Started first grade
  comment: without friend Zachary
-
  date: 1980-01-01
  type: life
  geo: [38.716432, -90.241466]
  location:  Riverview Dr. (needs review)
  text:
    Dad sold Riverview Pharmacy
  comment: and started work in financial services
-
  date: 1982-03-01
  type: life
  text:
    Got to stop wearing glasses (for now)
-
  date: 1985-01-01
  type: school
  geo: [38.79315, -89.99792]
  text:
    Soccer and computer camp at SIUE, learned Applesoft BASIC on Apple IIe
-
  date: 1985-01-01
  type: geek
  text:
    Family bought Apple IIe
  comment: enhanced! with color display!
-
  date: 1986-03-01
  type: geek
  link: https://hans.gerwitz.com/2015/04/21/mad-tony.html
  text:
    Uncle "Mad" Tony gifted me with a 1200bps modem, started using BBSes
  comment: initially with pseudonym "Maxwell Smart", soon switched to "SAMHAIN NIVHWVS"
-
  date: 1987-01-01
  type: school
  geo: [38.628274, -90.266872]
  text:
    Upward Bound summer school at SLUH
  comment: befriended Juniors (Gabe?), played a lot of chess with John Alan?
-
  date: 1987-11-26
  type: life
  text:
    Grandparents (maternal) accident
  comment: grandma died shortly after
-
  date: 1988-08-01
  type: school
  geo: [38.628274, -90.266872]
  text:
    Started school at SLUH
-
  date: 1988-01-01
  type: home
  geo: [38.649619, -90.269483]
  location:  5154 Westminster
  text:
    Moved to Central West End in the city
-
  date: 1988-01-01
  type: work
  geo: [38.640384, -90.261517]
  location:  4579 Laclede
  text:
    Started first job at Mail Boxes, Etc.
-
  date: 1989-06-01
  type: life
  text:
    Jesuit summer camp with survival training
-
  date: 1989-01-01
  type: life
  text:
    Back to wearing glasses (this time near-sighted)
-
  date: 1990-01-01
  type: geek
  text:
    Established first internet email address
  comment: "wupost.wustl.edu!sempco!hgerwitz"
-
  date: 1991-04-01
  confidence: low
  type: home
  geo: [38.589677, -90.251807]
  text:
    Moved in with Colleen in South City
-
  date: 1991-01-01
  type: school
  text:
    Told by SLUH I was not invited back while not living with parents
  comment: tried Crossroads
-
  date: 1991-04-01
  type: life
  geo: [38.506229, -90.384860]
  location:  Hyland Center at St. Anthony's
  text:
    Involuntarily admitted to psych center with some really troubled "peers"
-
  date: 1991-01-01
  type: home
  text:
    Moved into Colleen's car
  comment: K-wagon
-
  date: 1992-01-01
  confidence: low
  type: home
  geo: [38.644896, -90.254460]
  location:  4433 Pershing
  text:
    Moved into crack house apartments in CWE
-
  date: 1992-03-01
  type: life
  text:
    Married Colleen
  comment: handfasting first
-
  date: 1992-01-01
  type: life
  text:
    Parents separated
  comment: slowly
-
  date: 1992-07-01
  type: home
  geo: [38.649619, -90.269483]
  location:  Westminster
  text:
    Evicted, moved in with mom
  comment: moved into Westminster with Colleen, hiding from dad
-
  date: 1992-01-01
  confidence: low
  type: work
  text:
    Laid off from MBE
-
  date: 1992-01-01
  type: work
  text:
    Sporadic temp assignments
-
  date: 1992-01-01
  type: school
  text:
    Took GED
-
  date: 1992-11-01
  type: home
  geo: [38.603409, -90.248333]
  location:  Arsenal
  text:
    Moved into Tower Grove apartment
  comment: Because Mom sold the house, moved to Creve Coeur. miserable heat in summer
-
  date: 1993-01-01
  type: work
  text:
    Good temp stint in marketing analysis at SBC
-
  date: 1993-01-01
  type: home
  geo: [38.707371, -90.363589]
  location:  Midland Blvd
  text:
    Moved into Airstream trailer
  comment: at Colleen's parents in Overland
-
  date: 1993-01-01
  type: car
  text:
    Bought 1983 Buick Skyhawk
  comment: white, under $1000
-
  date: 1993-01-01
  type: work
  geo: [38.630660, -90.236414]
  text:
    Started work at SJI
  comment: carrying bike down the stairs to count coupons
-
  date: 1993-01-01
  type: school
  geo: [38.636046, -90.232697]
  location:  Ritter Hall
  text:
    Began classes at SLU
  comment: no entrence exam, only SAT scores
-
  date: 1993-10-01
  type: life
  geo: [38.642466, -90.257940]
  location:  Lindell and Taylor
  text:
    Serious auto accident
-
  date: 1993-11-01
  type: car
  text:
    Bought 1985 Honda Civic wagon
  comment: blue, so much glass
-
  date: 1993-01-01
  type: home
  geo: [38.627213, -90.261645]
  location:  1117 S. Taylor
  text:
    Moved to Forest Park Southwest
  comment: nice neighbor downstairs, terrible neighborhood
-
  date: 1994-01-01
  type: school
  text:
    Restarted SLU after medical cancellation
-
  date: 1994-01-01
  type: geek
  text:
    Posted first webpage
  link: http://www.nyx.net/~hgerwitz/
-
  date: 1994-01-01
  type: work
  text:
    Started working at SLU (student lab manager)
-
  date: 1994-01-01
  type: car
  text:
    Bought 1984 Honda Accord from dad
  comment: the car I had learned to drive in
-
  date: 1995-01-01
  type: work
  geo: [38.6502, -90.3383]
  location:  Downtown Clayton
  text:
    Started more part-time work, with Apple Partners as IT assistant
  comment: built ERP and communication system with Lotus 1-2-3 and NeXTstep scripts
-
  date: 1995-01-01
  type: geek
  text:
    Discovered PHP/FI and decided dynamic web pages were the future
  slug: php
-
  date: 1995-01-01
  confidence: low
  type: home
  geo: [38.644844, -90.257619]
  location:  327 N Taylor
  text:
    Moved into nice apartment in CWE
-
  date: 1995-08-01
  type: work
  geo: [38.681749, -90.370990]
  location:  1400 N. Price
  text:
    Started third part-time job, with Hermann Marketing as help desk tech
  comment: built ERP and communication system with Lotus 1-2-3 and NeXTstep scripts
-
  date: 1996-01-01
  type: work
  text:
    Started full-time work at Hermann Marketing as programmer analyst, left other jobs
  comment: and started taking evening classes
-
  date: 1996-03-01
  type: work
  text:
    Started web development consulting (phobia)
  link: https://web.archive.org/web/19961219154047/http://phobia.com/
  comment: $75 for a three-page site, then $30/month for hosting and email to fax gateway with a fancy modem
-
  date: 1996-01-01
  type: car
  text:
    Bought 1986 Nissan 200SX
  comment: silver
-
  date: 1996-01-01
  type: home
  geo: [38.644844, -90.257619]
  location:  327 N Taylor
  text:
    Moved into bigger apartment in same building
  comment: and moved massive self-built shelving
-
  date: 1996-09-01
  type: work
  geo: [38.636046, -90.232697]
  location:  Ritter Hall
  text:
    Started work at SLU as technology analyst
  comment: old job, new status, no more tuition
-
  date: 1997-01-01
  type: home
  geo: [38.653256, -90.280386]
  location:  5530 Delmar
  text:
    Moved to Delmar
  comment: on the diving line
-
  date: 1997-07-01
  type: car
  text:
    Bought 1996 Mazda Miata
  comment: starlight blue M edition, "Vicki"
-
  date: 1998-02-25
  type: life
  text:
    Gave up meat and became pescetarian
-
  date: 1998-08-01
  type: school
  text:
    Graduated from SLU
  comment: magna cum laude
-
  date: 1999-01-01
  type: work
  text:
    Stopped consulting and hosting
  comment: transfered accounts
-
  date: 1999-03-01
  type: work
  geo: [38.667506, -90.437830]
  location:  Craig Rd
  text:
    Started at Quatrix as developer, quickly promoted to tech director
  comment: learned ASP from a book the week before starting
-
  date: 1999-05-01
  type: life
  text:
    "Hard drive crash with insufficient backups: history before this is less clear"
-
  date: 1999-11-01
  type: home
  geo: [38.606751, -90.235772]
  location:  2623 Virginia
  text:
    Bought house and moved to Tower Grove South
  comment: using loan program that encouraged middle class purchase in poor census tracts
-
  date: 2000-06-25
  type: life
  text:
    Got serious about cycling, first Tour de Cure team
-
  date: 2002-02-08
  type: life
  text:
    Colleen leaves
  comment: overnight surprise
-
  date: 2002-01-01
  type: life
  text:
    Dad diagnosed with terminal cancer
-
  date: 2002-05-01
  type: work
  geo: [38.668734, -90.439938]
  location:  11605 Studt Ave
  text:
    Promoted to VP at Envision after merger
-
  date: 2002-05-01
  type: life
  text:
    Finalized divorce
-
  date: 2002-07-22
  type: home
  geo: [38.330187, -90.806966]
  location:  338 Wild Turkey Ln, Robertsville
  text:
    Moved to friend's "spare" house (after selling mine)
  comment: Andrew Hoog
-
  date: 2002-10-26
  type: home
  geo: [38.632606, -90.197337]
  location:  703 N 13th St
  text:
    Bought loft and moved to Downtown
-
  date: 2003-12-01
  type: life
  link: https://hans.gerwitz.com/library/things/lemond.html
  text:
    Bought road bike
-
  date: 2005-07-11
  type: life
  text:
    Dad died
-
  date: 2005-11-01
  type: work
  geo: [38.630466, -90.188853]
  location:  555 Washington Ave
  text:
    Joined infūz as VP of tech
-
  date: 2006-01-01
  type: car
  text:
    Sold Miata to Kurt
-
  date: 2007-01-01
  type: life
  text:
    Broke off engagement
-
  date: 2007-08-01
  type: life
  text:
    Started dating Shannon 😍
  slug: shannon
-
  date: 2007-08-27
  type: car
  text:
    Bought 2006 Mazda Miata
  comment: black, "Selene", for $23k
-
  date: 2008-06-01
  type: home
  geo: [47.619794, -122.322031]
  location:  130 Harvard Ave apt 502
  text:
    Moved to Seattle
  comment: shea followed on June 19
-
  date: 2008-06-01
  type: work
  geo: [47.611281, -122.336521]
  location:  413 Pine St
  text:
    Started at frog design
  comment: initially on Dexter, but moved Downtown shortly after
-
  date: 2009-03-01
  type: life
  link: https://hans.gerwitz.com/2009/02/23/bus-driver-appreciation-day.html
  text:
    Declared Bus/Transit Driver Appreciation Day
  slug: tdad
-
  date: 2009-08-01
  type: home
  geo: [47.626132, -122.322781]
  location:  737A Harvard Ave E
  text:
    Bought house and moved to Capitol Hill
-
  date: 2009-08-23
  type: life
  geo: [47.602003, -122.331738]
  location:  Smith Tower
  text:
    Married Shannon
-
  date: 2010-03-30
  type: home
  geo: [48.161610, 11.568313]
  location:  Hohenzollernplatz
  text:
    Moved to Munich for 4 months
-
  date: 2012-11-01
  type: home
  geo: [52.362422, 4.901851]
  location:  Prinsengracht 880
  text:
    Moved to Amsterdam, for two year stint with frog
-
  date: 2013-02-01
  type: life
  text:
    Shea moved to Amsterdam
-
  date: 2013-03-01
  type: work
  text:
    Left frog to stay in Amsterdam
  comment: downsizes, we leave rather than return to US
-
  date: 2013-04-01
  type: work
  text:
    Registered The Artificial with Shannon
  comment: as technique to get Dutch residency with Shannon
-
  date: 2013-05-01
  type: home
  geo: [52.390381, 4.883940]
  location:  Nova Zemblastraat 12-A
  text:
    Moved to Spaarndammerbuurt
-
  date: 2013-06-01
  type: work
  geo: [52.366023, 4.890183]
  location:  Herengract 477
  text:
    Started working at AKQA
  comment: as freelance strategist
-
  date: 2013-10-01
  type: home
  geo: [52.385756, 4.886770]
  location:  Prinseneiland 79-M
  text:
    Moved to Prinseneiland
-
  date: 2013-10-01
  type: work
  geo: [52.386926, 4.883070]
  location:  Houtmankade 70-hs
  text:
    Joined The Artificial full time
  comment: turned down long-term work at AKQA
-
  date: 2015-05-01
  type: work
  geo: [52.371384, 4.886312]
  location:  Herengracht 266
  text:
    Moved The Artificial to the Herengracht
-
  date: 2016-06-01
  type: home
  geo: [52.366203, 4.871753]
  location:  Bilderdijkkade 97-4V
  text:
    Bought house and moved to Oud West
-
  date: 2017-01-24
  type: life
  text:
    Shea died
  link: https://hans.gerwitz.com/2017/01/26/shea.html
-
  date: 2017-05-13
  type: life
  text:
    Thunder moved in
-
  date: 2017-11-19
  type: life
  text:
    Fog moved in
-
  date: 2018-03-06
  type: life
  text:
    First surgery (angiolipoma)
-
  date: 2018-06-18
  type: work
  text:
    Announced end of The Artificial studio
-
  date: 2018-08-01
  type: work
  text:
    Started at Philips
-
  date: 2019-06-10
  type: home
  text:
    Sold Seattle house
-
  date: 2019-07-16
  type: life
  text:
    Vasectomy
-
  date: 2019-12-30
  type: home
  text:
    Sole St. Louis loft
-
  date: 2019-01-01
  type: work
  text:
    Started with Philips Design
permalink: "/events/{{ event.date | date('YYYY') }}-{{ event.slug if event.slug else event.text }}.md"
---
{{ '---' }}
date: {{ event.date | date('YYYY-MM-DD') }}
type: {{ event.type }}
{{ '---' }}

{{ event.text }}
{% if event.comment %}
<!--
  {{ event.comment }}
-->
{% endif %}
