<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set title = title or "Untitled" %}
    {% set description = description or "Personal web site of Hans Gerwitz. Since 1994." %}
    {% set url = external or "https://hans.gerwitz.com" + page.url %}
    {% set image = "/favicon/tree.png" %}
    <meta name="author" content="Hans Gerwitz">
    <meta name="description" content="{{ description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:locale" content="en_NL">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gerwitz">
    <meta name="twitter:creator:id" content="521">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <link rel="canonical" href="{{ url }}">

    <!-- favicon, etc. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00852B">
    <meta name="msapplication-TileColor" content="#00852B">
    <meta name="theme-color" content="#00852B">

    <!-- webmentions -->
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention">

    <!-- RSS feeds -->
    <link rel="alternate" type="application/rss+xml" href="https://hans.gerwitz.com/feeds/notes.rss" title="Hans's Notes">
    {# <link rel="alternate" type="application/rss+xml" href="https://hans.gerwitz.com/feeds/writing.rss" title="Writings of Hans Gerwitz"> #}

    <link rel="stylesheet" href="/css/style.css">

    {# <link rel="preload" href="/css/fonts/SourceSans3VF-Roman.otf.woff2" as="font" type="font/woff2" crossorigin> #}

    {{ headtags | safe }}
  </head>
  <body class="{{ bodyClass }}">
    <div class="dexter"></div>
    <div class="pale">
      <header class="main-header">
        {% include "header.njk" %}
      </header>
      <div class="main">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
      <footer class="main-footer" id="nav">
        {% include "footer.njk" %}
      </footer>
      </div>
    <div class="sinister"></div>
  </body>
</html>
