<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set origin = "https://hans.gerwitz.com" %}
    {% set title = title or "Untitled" %}
    {% set description = description or ("I " + confession if confession else "Personal website of Hans Gerwitz") %}
    {% set url = external or origin + page.url %}
    {% set isArticle = bodyClass == "writing" %}
    {% set image = sharing.image if sharing and sharing.image else origin + "/opengraph.png" %}
    {% if image[0] == "/" %}
      {% set image = origin + image %}
    {% endif %}
    {% set imageAlt = "Hans Gerwitz’s personal website" -%}
    {% if sharing and sharing.image -%}
      {% set imageAlt = sharing.alt or title -%}
    {% endif %}
    <meta name="author" content="Hans Gerwitz">
    <meta name="description" content="{{ description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <!-- Open Graph -->
    <meta property="og:type" content="{{ 'article' if isArticle else 'website' }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:locale" content="en_NL">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    {% if sharing and sharing.image %}
      {% if sharing.width %}<meta property="og:image:width" content="{{ sharing.width }}">{% endif %}
      {% if sharing.height %}<meta property="og:image:height" content="{{ sharing.height }}">{% endif %}
      {% if sharing.type %}<meta property="og:image:type" content="{{ sharing.type }}">{% endif %}
    {% else %}
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/png">
    {% endif %}
    <meta property="og:image:alt" content="{{ imageAlt }}">
    {% if isArticle %}
    <meta property="article:published_time" content="{{ page.date | date('iso8601') }}">
    {% if updated %}<meta property="article:modified_time" content="{{ updated | date('iso8601') }}">{% endif %}
    <meta property="article:author" content="{{ origin }}/">
    {% if categories and categories.length %}<meta property="article:section" content="{{ categories[0] }}">{% endif %}
    {% for topic in topics or [] %}<meta property="article:tag" content="{{ topic }}">{% endfor %}
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gerwitz">
    <meta name="twitter:creator:id" content="521">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta name="twitter:image:alt" content="{{ imageAlt }}">
    <link rel="canonical" href="{{ url }}">

    <!-- favicon, etc. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00852B">
    <meta name="msapplication-TileColor" content="#00852B">
    <meta name="theme-color" content="#00852B">

    <!-- webmentions -->
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention">

    <!-- RSS feeds -->
    <link rel="alternate" type="application/rss+xml" href="https://hans.gerwitz.com/feeds/notes.rss" title="Hans's Notes">
    {# <link rel="alternate" type="application/rss+xml" href="https://hans.gerwitz.com/feeds/writing.rss" title="Writings of Hans Gerwitz"> #}

  {% set stylesheet = assetPaths.styles['/styles/style.css'] or '/styles/style.css' %}
  <link rel="stylesheet" href="{{ stylesheet }}">

    {# <link rel="preload" href="/styles/fonts/SourceSans3VF-Roman.otf.woff2" as="font" type="font/woff2" crossorigin> #}

    {{ headtags | safe }}
    <script src="/js/lightbox.js" defer></script>
  </head>
  <body class="{{ bodyClass }}">
    <div class="dexter"></div>
    <div class="pale">
      {%- if page.url != '/' -%}
      <header class="main-header">
        {% include "header.njk" %}
      </header>
      {%- endif -%}
      <div class="main">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
      <footer class="main-footer" id="nav">
        {% include "footer.njk" %}
      </footer>
      </div>
    <div class="sinister"></div>
  </body>
</html>
