---
layout: base
bodyClass: event
permalink: "/logs/events/{{ page.fileSlug }}/index.html"
---

<article class="h-entry">

  <div>
    <h1 class="p-name">{{ title }}</h1>
    <div class="meta">
      <time datetime="{{ date | date('iso8601') }}">{{ page.date | date('MMMM Do, YYYY') }} (week {{ week | weeklink }})</time>
    </div>
  </div>

  <div class="content">
    <div class="event">
      {{ content | safe }}
    </div>
  </div>

</article>
