{{ content | trim | safe }}

# Elsewhere
{% if entry and entry.url %}=> {{ gemini.webOrigin }}{{ entry.url }} This document on the World Wide Web
{% endif -%}
=> /        Capsule home
=> /gemlog  Gemlog
