---
layout: base
bodyClass: note
permalink: "/{{ page.date | date('YYYY/MM/DD') }}/{{ page.fileSlug }}.html"
breadcrumbs:
  - notes
---

<article>

  <div class="content">
    {{ content | safe }}
  <div>

  {% include "signature.njk" %}

</article>
