---
layout: base
bodyClass: topic
---

<article>
  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% set pages = collections.topicContent | filterByTopics([topicSlug]) %}
  <h2>Content</h2>
  <ul>
  {% for item in pages %}
    <li>
      {% previewMedium item %}
    </li>
  {% endfor %}
  </ul>
</article>
