---
layout: base
bodyClass: toy
---

<article class="toy-page">
  <div class="toy-profile">
    <div class="toy-profile__details">
      <h1 class="toy-profile__title">{{ title }}</h1>
      <div class="toy-profile__type">
        {% if type == "pico8" %}
          PICO-8
        {% elif type == "p5js" %}
          p5.js
        {% else %}
          <em>unknown</em>
        {% endif %}
      </div>
      <div class="toy-profile__description">
        {{ toy_description | safe }}
      </div>
    </div>
    <div class="toy-profile__player">
      {% set toySize = 256 %}
      {% set toyTitle = title %}
      {% include "toy-player.njk" %}
    </div>
  </div>

  {{ content | safe }}

</article>
