---
layout: base
bodyClass: week
breadcrumbs:
    - weeks
---

<article class="h-entry">

    <div>
        <h1 class="p-name">{{ renderData.title }}</h1>
        <div class="metadata">
            {{ renderData.weeknum | weekstart | date('weekstarted') }}
        </div>
    </div>

    <div class="content">
        {{ content | safe }}
    </div>

    {% if steps %}
        🚶🏻‍{{ steps }} steps
    {% endif %}

</article>
