---
layout: base
bodyClass: week
eleventyComputed:
  breadcrumbs:
    - weeks
    - "{{ week.weeknum }}"
---

<article class="h-entry weeknotes">

    <header>
      <h1 class="p-name">{{ title }}</h1>
      <div class="meta">
        {{ week.weeknum | weekstart | date('weekstarted') }}

        {% if week.weeknum == 0 %}
          (<a href="/weeks/1/">Next</a>)
        {% else %}
          (<a href="/weeks/{{ week.weeknum | int - 1 }}/">Previous</a>
          {%- if not week.current %}
          |
          <a href="/weeks/{{ week.weeknum | int + 1 }}/">Next</a>
          {%- endif %})
        {% endif %}
      </div>
    </header>

    {{ content | safe }}

    {% for event in collections.weeklyEvents[week.weeknum] %}
    {% if loop.first %}
      <h2>Event{{ "s" if loop.length > 1 }}</h2>
      <ul>
    {% endif %}
        <li>
          <a href="{{ event.url }}">{{ event.data.title }}</a>
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
    {% else %}
      <!-- No events -->
    {% endfor %}
    </ul>

    {% for post in collections.weeklyWriting[week.weeknum] %}
    {% if loop.first %}
      <h2>Writing</h2>
      <ul>
    {% endif %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
    {% else %}
      <!-- No writing -->
    {% endfor %}
    </ul>

    {% for item in collections.weeklyNotes[week.weeknum] %}
    {% if loop.first %}
      <h2>{{ loop.length }} Note{{ "s" if loop.length > 1 }}</h2>
    {% endif %}
      {% include "feed-note.njk" %}
    {% else %}
      <!-- No notes -->
    {% endfor %}

    {% if steps %}
        Data test: 🚶🏻‍{{ steps }} steps
    {% endif %}

</article>
