---
layout: base
bodyClass: week
breadcrumbs:
    - weeks
---

<article class="h-entry">

    <div>
        <h1 class="p-name">{{ renderData.title }}</h1>
        <div class="metadata">
            {{ renderData.weeknum | weekstart | date('weekstarted') }}
        </div>
    </div>

    <div class="content">
        <div class="weeknotes">
            {{ content | safe }}
        </div>

        {% for post in collections.writingByWeek[renderData.weeknum] %}
        {% if loop.first %}
          <h2>Writing</h2>
          <ul>
        {% endif %}
            <li>
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
        {% if loop.last %}
          </ul>
        {% endif %}
        {% else %}
          <!-- No writing -->
        {% endfor %}
        </ul>

        {% for note in collections.notesByWeek[renderData.weeknum] %}
        {% if loop.first %}
          <h2>{{ loop.length }} Notes</h2>
        {% endif %}
          <blockquote>
            {{ note.templateContent | safe }}
            <footer><a href="{{ note
            .url }}">{{ note.date | date('MMMM Do, YYYY') }}</a></footer>
          </blockquote>
        {% else %}
          <!-- No notes -->
        {% endfor %}

    </div>

    {% if steps %}
        Data test: 🚶🏻‍{{ steps }} steps
    {% endif %}

</article>
