---
layout: base
bodyClass: writing
eleventyComputed:
  breadcrumbs:
    - writing
    - "{{ page.date | date('YYYY-MM-DD') }}"
permalink: "/{{ page.date | date('YYYY/MM/DD') }}/{{ page.fileSlug }}.html"
---

<article>
    <h1>{{ title }}</h1>

    {{ content | safe }}

    {% include "signature.njk" %}

</article>
