---
title: Chronofile
layout: index
---

I have a terrible memory and need triggers, so herein I keep too much detail about my life so far:

<dl>

<dt><span class="path">/logs</span><a href="/logs/events/" class="path internal">/events</a></dt>
<dd>Life events</dd>

<dt><span class="path">/logs</span><a href="/logs/travel/" class="path internal">/travel</a></dt>
<dd>Travelogue</dd>

<dt><span class="path">/logs</span><a href="/logs/appearances/" class="path internal">/appearances</a></dt>
<dd>Public appearances</dd>

<dt><span class="path">/logs</span><a href="/logs/dining/" class="path internal">/dining</a></dt>
<dd>Dining</dd>

<dt><a href="/weeks/" class="path internal">/weeks</a></dt>
<dd>Weekly journal</dd>

</dl>
