---
title: Chronofile
layout: index
---

<p>
  Too much detail about my life so far:
</p>

<dl>

<dt><span class="internal">logs</span><a href="/logs/events/" class="internal">events</a></dt>
<dd>Life events</dd>

<dt><span class="internal">logs</span><a href="/logs/travel/" class="internal">travel</a></dt>
<dd>Travelogue</dd>

<dt><span class="internal">logs</span><a href="/logs/appearances/" class="internal">appearances</a></dt>
<dd>Public appearances</dd>

<dt><a href="/weeks/" class="internal">weeks</a></dt>
<dd>Weekly journal</dd>

</dl>
