---
title: Chronofile
layout: index
---

Too much detail about my life so far:

<dl>

<dt><span class="internal">logs</span><a href="/logs/events/" class="internal">events</a></dt>
<dd>Life events</dd>

<dt><span class="internal">logs</span><a href="/logs/travel/" class="internal">travel</a></dt>
<dd>Travelogue</dd>

<dt><span class="internal">logs</span><a href="/logs/appearances/" class="internal">appearances</a></dt>
<dd>Public appearances</dd>

</dl>
