---
title: Weeks
layout: page
tags:
pagination:
  data: collections.weeks
  size: 52
  reverse: true
permalink: /weeks/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
eleventyExcludeFromCollections: true
---


{% if pagination.pageNumber == 0 %}
<p>
  This is an experimental journal of sorts, so I can search for entries and experiment with a more holistic archive. I started weekly journaling in week 2185 and wrote about <a href="/2019/10/10/sennight.html">why I like weeks</a> in week 2379.
</p>
{% else %}
<div class="pagination">
  <a href="{{ pagination.href.first }}">Current</a> | <a href="{{ pagination.href.previous }}">Newer</a>
</div>
{% endif %}

<ol>
{% for week in pagination.items %}
  <li>
    {{ week.fileSlug | moonforweek }} <a href="{{ week.url }}">Week {{ week.fileSlug }}</a> ({{ week.fileSlug | weekstart | date('nice') }})
  </li>
{% endfor %}
</ol>

{% if pagination.href.next %}
<div class="pagination">
  <a href="{{ pagination.href.next }}">Older</a> | <a href="{{ pagination.href.last }}">First</a>
</div>
{% endif %}
