---
pagination:
  data: collections.weeks
  size: 1
  alias: week
layout: week
eleventyComputed:
  title: "Week {{ week.weeknum }}"
  date: {{ week.date }}
eleventyExcludeFromCollections: true
permalink: "/weeks/{{ week.fileSlug }}/"
---

{{ week.content | safe }}
