---
pagination:
  data: collections.weeks
  size: 1
  alias: week
layout: week
renderData:
  weeknum: "{{ week.fileSlug }}"
  title: "Week {{ week.fileSlug }}"
  current: "{{ week.current }}"
eleventyExcludeFromCollections: true
permalink: "/weeks/{{ week.fileSlug }}/"
---

{{ week.templateContent | safe }}
