---
title: Feeds
layout: index
eleventyExcludeFromCollections: true
---

Streams available from this site. <!-- You might prefer other options at <a href="/follow/" class="internal">follow</a> -->

<h2>RSS Feeds</h2>
<ul>
  <li>
    <a href="/feeds/posts.rss">Aggregate</a>
  </li>
  <li>
    <a href="/feeds/notes.rss">Notes</a>
  </li>
  <li>
    <a href="/feeds/writing.rss">Long posts only</a>
  </li>
</ul>

<h2>Recent Posts</h2>
<div class="feed">
{% set items = collections.microblog | sort(true, false, 'date') | limit(6) -%}
{% for item in items %}
  {% if item.type == 'post' %}
    {% include "feed-writing.njk" %}
  {% else %}
    {% include "feed-note.njk" %}
  {% endif %}
{% endfor %}
</div>
