---
title: All Posts
layout: page
tags:
pagination:
  data: collections.microblog
  size: 6
  reverse: true
permalink: /microblog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}/index.html
eleventyExcludeFromCollections: true
---

{% if pagination.pageNumber > 0 %}
<div class="pagination">
  <a href="{{ pagination.href.previous }}">Newer entries</a>
</div>
{% endif %}

<div class="feed">
  {% for item in pagination.items %}
    {% if item.type == 'post' %}
      {% include "feed-writing.njk" %}
    {% else %}
      {% include "feed-note.njk" %}
    {% endif %}
  {% endfor %}
  </div

{% if pagination.href.next %}
<div class="pagination">
  <a href="{{ pagination.href.next }}">Older entries</a>
</div>
{% endif %}
