---
title: Writing
layout: page
tags:
permalink: /writing/index.html
eleventyExcludeFromCollections: true
---

<ul>
{%- for page in collections.writing | reverse -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
{%- endfor -%}
</ul>
