---
title: Writing
layout: index
override:tags: []
permalink: /writing/index.html
eleventyExcludeFromCollections: true
---

<p>
  Purely personal posts are not listed here, but can be found under <a href="/writing/personal" class="internal">/writing/personal</a>
</p>

{% set pages = collections.writing | filterByCategories(['work','culture']) %}
<ul>
{%- for page in collections.writing | reverse -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
{%- endfor -%}
</ul>
