---
title: "Bears: Devlog"
---

{% set pages = collections.bearsDevlog %}

<ul>
{%- for page in pages | reverse -%}
  {%- if page.url != "/projects/bears/devlog/" -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
  {%- endif -%}
{%- endfor -%}
</ul>
