---
title: About Me
layout: page
---

{% set css %}
	ul.profiles {
		list-style: none;
		padding: 0;
	}
	ul.profiles li {
		margin: 12px;
	}
	ul.profiles li a {
		display: inline-block;
		height: 100%;
		text-decoration: none;
	}
	ul.profiles li a svg {
		position: relative;
		top: 4px;
		margin-left: 6px;
		margin-right: 6px;
	}
	ul.profiles li a:hover svg * {
		{# this should be the background color, but I don't have Sass here #}
		fill: white;
	}
	{% endset %}
<style>{{ css | cssmin | safe }}</style>

<p>
  I live in the beautiful city of Amsterdam, with the even-more-beautiful <a href="https://www.shannonethomas.com/">Shannon E Thomas</a>. We <a href="http://hansandshannon.com/">married in Seattle</a> circa 2009.
</p>

<p>
	Professionally, I have held technology, creative, and business leadership positions serving a variety of industries across three continents. After a brief but exciting stopover doing evidence-based product development at <a href="https://www.philips.com/">Philips</a>, I've moved on to the most exciting challenge so far, as Head of Design at <a class="employer" href="https://www.canonical.com/">Canonical</a>
</p>

<p>
	More detail about my past than even I care about can be found in the files at <a href="/logs/" class="internal">logs</a>.
</p>

<h2 id="contact">Contact</h2>

<p>
	Send me an <a rel="me" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#097;&#110;&#115;&#064;&#103;&#101;&#114;&#119;&#105;&#116;&#122;&#046;&#099;&#111;&#109;" title="since 1990">email</a>, reach out on the <a rel="me" href="https://social.gerwitz.com/@hans">social fediverse</a>, or find me elsewhere in one of the places at  <a href="/follow/" class="internal">follow</a>.
</p>
