---
permalink: /writing/feed.rss
eleventyExcludeFromCollections: true
feedmeta:
  title: hans.gerwitz.com blog
  url: https://hans.gerwitz.com/
layout:
---
{%- set feed = collections.writing | sort(true, false, 'date') -%}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>

    <title>{{ feedmeta.title }}</title>
    <link>{{ feedmeta.url }}</link>
    <atom:link href="{{ page.url | url | absoluteUrl(feedmeta.url) }}" rel="self" type="application/rss+xml" />
    <description> </description>
    {%- set mostRecent = feed | first -%}
    <pubDate>{{ mostRecent.date | date('ddd, DD MMM YYYY HH:mm:ss ZZ') }}</pubDate>

    {%- for post in feed -%}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(feedmeta.url) }}{% endset -%}
    <item>
      <link>{{ absolutePostUrl }}</link>
      <guid>{{ absolutePostUrl }}</guid>
      <pubDate>{{ post.date | date('ddd, DD MMM YYYY HH:mm:ss ZZ') }}</pubDate>
      <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
    </item>

    {% endfor -%}
  </channel>
</rss>
