---
permalink: /editions/gemini/index.gmi
eleventyExcludeFromCollections: true
---
# hans.gerwitz.com

I'm Hans Gerwitz, a design nerd in Amsterdam. Welcome to my capsule!

You can find much more about me on my website, but here you can find:

=> /writing/index.gmi Blog posts
=> /notes/index.gmi Short notes

=> https://hans.gerwitz.com/ hans.gerwitz.com on the World Wide Web
