---
permalink: /editions/gemini/index.gmi
eleventyExcludeFromCollections: true
---
```
        _^_
       /   \
       _| |_
     /__   __\
     ___| |___
   /____   ____\
   _____| |_____
 /______   ______\
     ___| |___
    '---------'
```

# hans.gerwitz.com

Welcome to my personal gemproto capsule.

=> /gemlog/ /gemlog - Most recent notes and writing

=> /about/ /about - About me
=> /capsule/ /capsule - About this capsule
=> /writing/ /writing - Full archive of {{ collections.writing | length }} blog posts
=> /notes/ /notes - Archive of {{ collections.notes | length }} short notes
=> /lists/ /lists - Other lists

I'd love to hear your thoughts, please find me on the fediverse at @gerwitz@chaos.social

There is yet more on my website, and I endeavor to bring most of it here. In the meantime, you can visit:

=> https://hans.gerwitz.com/ hans.gerwitz.com on the World Wide Web
