---
permalink: /editions/gemini/index.gmi
eleventyExcludeFromCollections: true
---
```🌲
        _^_
       /_ _\
      __| |__
     /___ ___\
    ____| |____
   /_____ _____\
  ______| |______
 /_______ _______\
     ___| |___
    '---------'
```
# Hans Gerwitz's capsule

I'm an American-born immigrant living in the Netherlands, and a wizened old software guy with a passion for product design and leadership.

Here in my personal gemproto capsule, you can find two feeds:
=> /gemlog/ /gemlog
=> /tinylog/ /tinylog

There are more evergreen pages, too:
=> /about/ /about - About me
=> /capsule/ /capsule - About this capsule
=> /lists/ /lists - Other lists

I'd love to hear your thoughts, please find me on the fediverse at @gerwitz@chaos.social

There is yet more on my website, and I endeavor to bring most of it here. In the meantime, you can visit:

=> https://hans.gerwitz.com/ hans.gerwitz.com on the World Wide Web
