---
pagination:
  data: collections.notes
  size: 1
  alias: entry
permalink: "/editions/gemini{{ entry.url | geminiPath }}"

---
# {{ entry.data.title | plaintext | safe }}

{{ entry.page.rawInput | gemtext(entry.url, gemini, collections) | safe }}
