/* Base styles - converted from Sass */

/* BIG GRID */

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
  grid-template-columns: var(--left-margin) calc(var(--content-width) + var(--sidenote-column-width)) minmax(var(--right-margin), 1fr);
}

.dexter {
  grid-column: 1;
}

.pale {
  grid-column: 2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--content-width) var(--sidenote-column-width);
  grid-template-rows: auto 1fr auto;
}

.sinister {
  grid-column: 3;
}

.main-header {
  grid-column: 1 / -1;
}

.main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: var(--content-width) var(--sidenote-column-width);
  align-content: start;
}

.main > article {
  grid-column: 1 / -1;
}

.main > :not(article) {
  grid-column: 1;
  max-width: 100%;
}

.main-footer {
  grid-column: 1 / -1;
}

/* BODY BASICS */

body {
  background: var(--page-color);
  color: var(--text-color);
  font-family: var(--base-font);
  font-size: 1rem;
  line-height: 1.6rem;
}

.main img,
.main video {
  height: auto;
  max-width: 100%;
}


/* HEADER */

.main-header,
.main-footer {
  position: relative;
  isolation: isolate;
  padding-right: 0;
  padding-left: 0;
}

.main-header::before,
.main-footer::before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: calc(-1 * var(--left-margin));
  width: 100vw;
  content: "";
}

.main-header::before {
  background: var(--page-color);
}

.main-header {
  padding-top: 32px;
  padding-bottom: 3rem;
  font-size: 1rem;
  font-variant-numeric: lining-nums proportional-nums;
}

.main-header .site-title,
.main-header .breadcrumb {
  display: inline-block;
  bottom: 0;
}

.main-header .site-title {
  padding-top: 5px;
}

.main-header .site-title svg * {
  fill: var(--accent-color);
}

.main-header a.site-title:hover {
  background-color: var(--accent-color);
  color: var(--page-color);
}

.main-header a.site-title:hover svg * {
  fill: var(--page-color);
}

.main-header .breadcrumb * {
  border: none;
  margin-left: 1rem;
  display: block;
  float: left;
}

/* TODO make a typography file */
section.emphasis > p,
div.emphasis > p {
  font-size: larger;
}

/* SEARCH WIDGET */

.search-form {
  position: relative;
  width: 190px;
  height: 26px;
}

.search-form input {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  padding: 0 2px 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.search-form button {
  position: absolute;
  top: 2px;
  left: 4px;
  height: 26px;
  width: 26px;
  z-index: 10;
  border: none;
  background: none;
}

.search-form button svg * {
  stroke: var(--accent-color);
}

/* FOOTER */

.main-footer,
.main-footer::before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIHWP8DwQMQMDIyAiiGJjAJBIBEgargCrEVAEAbIMIAowlqhMAAAAASUVORK5CYII=) repeat;
}

.main-footer {
  padding-top: 16px;
  margin-top: 36px;
  font-variant-numeric: lining-nums proportional-nums;
}

@media (max-width: 779px) {
  body {
    grid-template-columns: 12px minmax(0, var(--content-width)) minmax(var(--right-margin), 1fr);
  }

  .pale {
    grid-template-columns: minmax(0, var(--content-width));
  }

  .main {
    grid-column: 1;
    grid-template-columns: minmax(0, var(--content-width));
  }

  .main > article {
    grid-column: 1;
  }
}

.main-footer .footer-topnav {
  position: relative;
  width: 100%;
  height: 32px;
}

.main-footer .footer-topnav .homelink {
  display: inline-block;
  padding-top: 4px;
  font-weight: var(--bold-font-weight);
  text-decoration: none;
}

.main-footer .footer-topnav .homelink svg * {
  fill: var(--page-color);
}

.main-footer .footer-topnav .homelink:hover svg * {
  fill: var(--accent-color);
}

.main-footer .footer-topnav .search-form {
  position: absolute;
  bottom: -4px;
  right: 0;
}

.main-footer .footer-topnav .search-form.home {
  right: unset;
  left: 0;
}

.main-footer .sitemap {
  width: 100%;
  clear: both;
  padding-top: 18px;
  padding-bottom: 18px;
}

.main-footer .sitemap > dl {
  width: 50%;
}

.main-footer .sitemap > dl dt {
  clear: left;
  float: left;
  min-width: 25%;
  padding-bottom: 8px;
}

.main-footer .sitemap > dl dd {
  display: none;
  clear: right;
  padding-bottom: 8px;
}

@media (min-width: 768px) { /* bp-liminal */
  .main-footer .sitemap > dl dd {
    display: inherit;
  }
}

.main-footer .sitemap dl.published {
  clear: left;
  float: left;
}

.main-footer .sitemap dl.personal {
  clear: right;
  float: right;
}

.main-footer .fineprint {
  clear: both;
  padding-top: 18px;
  font-size: small;
  font-style: italic;
}

.main-footer .fineprint .hitcounter {
  clear: both;
  padding: 0;
  margin: 0;
}

.main-footer .fineprint .hitcounter:hover {
  box-shadow: none;
  text-decoration: none;
}

.main-footer .fineprint .hitcounter img {
  border: solid 1px var(--text-color);
}
