@import "_variables";

article>p {
  float: left;
}

footer {
  clear: both;
}

a.sidenote-ref {
  // <sup>ish
  vertical-align: super;
  font-size: .83em;

  color: $meta-color;

  text-decoration: none;
  &:hover {
    color: $accent-color;
    background-color: inherit;
    box-shadow: none;
  }
}

.sidenote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 1em; // to match article > *+*
  margin-bottom: 1.96rem;
  font-size: 1.0rem;
  vertical-align: baseline;
  position: relative;

  font-family: $sans-font;
  font-size: 80%;
  line-height: 1.3rem;
  .sidenote-ref {
    float: left;
    margin-left: -1.0rem;
    color: $meta-color;
  }

}
