html {
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: $regular-font-weight;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

h1,h2,h3 {
  font-family: $title-font;
  font-weight: $title-font-weight;
  font-variant-numeric: lining-nums proportional-nums;
  // font-variant-alternates: stylistic(2);
}
h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.6875rem;
  line-height: 2.4rem;
  margin-top: 4rem;
  margin-bottom: .8rem;
}
h3 {
  font-size: 1.3rem;
}

p {
  font-family: $copy-font;
}

/*div*/.epigraph {
  margin: 4rem 0;

  blockquote {
      font-style: italic;
      margin: 2rem 0;

      footer {
          font-style: normal;
      }
  }
}
