// Breakpoints
// $bp-narrow: "(min-width: 400px)";
$pale-size: 768px;
$textwidth-simple: 80%;
$textwidth-sidenotes: 66%;
$bp-liminal: "min-width: #{$pale-size * .80}";
$bp-full: "min-width: #{$pale-size}";

// Colors
$page-color: hsl(0, 0%, 99%);
$text-color: hsl(0, 0%, 5%);
$meta-color: hsl(0, 0%, 50%);
$accent-color: hsl(140, 100%, 25%); // lego tree #00852B

// Font
$body-font: 'Source Sans', sans-serif;
$sans-font: 'Source Sans', sans-serif;
$title-font: 'Source Sans', sans-serif;

$regular-font-weight: 400;
$bold-font-weight: 700;
$title-font-weight: 700;

// transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
