// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colors
$page-color: hsl(0, 0%, 99%);
$text-color: hsl(0, 0%, 5%);
$meta-color: hsl(0, 0%, 50%);
$accent-color: hsl(140, 100%, 25%); // lego tree #00852B

// Font face
$body-font: 'IBM Plex Serif', 'Georgia', Times, serif;
// $sans-font: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
$sans-font: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$title-font: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
// $url-font: "Lucida Console", Monaco, monospace;

// Tufte-specific
// $bg-color: #fffff8;
// $contrast-color: #a00000;
// $border-color: #333333;
// $sans-font: $body-font;
// $url-font: $body-font;
// $code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
// $link-style: color; // choices are 'color' or 'underline'. Default is color using $contrast-color set above
