@import '_variables';

// tuftish
@import '_tufte';

// basics
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $page-color;
  color: $text-color;
  counter-reset: sidenote-counter;
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
  font-weight:700;
  line-height: 1;
  margin: 0;
  margin-bottom: 2rem;
}
h1 { font-size: 2.2rem; font-style: normal; }
h2 { font-size: 1.7rem; margin-top: 4.2rem; }
h3 { font-size: 1.3rem; margin-top: 2.6rem; }

p {
  position: relative;
  margin-bottom: 2rem;
}

a {
  color: inherit;
}

.c-blockquote {
  padding-left: 1em;
  border-left: 0.2em solid;
  border-color: $meta-color;

  blockquote {
    margin: 0;
  }
  figcaption {
    text-align: right;
    &::before {
      content: '— ';
    }
  }
  // p + footer {
  //   margin-top: -1.5rem; // because p has a margin-bottom of 2rem
  // }
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}

hr {
  background: #111;
  border: 0;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

pre {
  font-size: 90%;
  margin-left: 2.5%;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

div.hidden {
  display: none;
}

// site layout
header .breadcrumb {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.inner-container {
  margin-top: 2.6rem;
}

header {
  font-size: 1rem;

  .breadcrumb {
    float: left;
    width: 55%;
  }
  .search {
    float: right;
    margin-right: 24px;
  }

  .site-title {
    svg * {
      fill: $accent-color;
    }
    color: $text-color;
    font-family: $title-font;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    padding-top: 5px;
    // padding-bottom: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: -0.5rem;
  }

  a.site-title:hover {
    background-color: $accent-color;
    color: $page-color;
    svg * {
      fill: $page-color;
    }
  }

  .breadcrumb a.internal, .search a {
    border: none;
    padding-top: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
    display: block;
    float: left;
    // margin-left: 8px;
  }
  .search a {
    // padding-top: 15px;
    color: $page-color;
    &::before {
      color: $page-color;
    }
    svg * {
      stroke: $text-color;
    }
    &:hover svg * {
      stroke: $page-color;
    }
  }

}

.bottom-footer {
  border-top: solid 1px $text-color;

  .mini-note {
    font-family: $sans-font;
  }
}

// links
a {
  text-decoration: underline;
  text-decoration-color: $accent-color;

  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;

  position: relative; // for box-shadow on :hover
}

a.internal  {
  font-family: $title-font;
  font-weight: 700;
}
a.internal::before {
  content: '/';
  color: $accent-color;
  font-weight: bold;
  text-decoration: none;
}
a.internal:hover::before {
  color: $page-color;
}

a:hover {
  color: $page-color;
  background-color: $accent-color;
  box-shadow: 0 0 0.5rem 0.5rem $page-color;
  &.site-title {
    color: $page-color;
  }
}

a.sticker {
  display: inline-block;
}

a:hover.sticker {
  border-color: $accent-color;
}

// feed lists
.feed-item {
  margin-top: 2.6rem;

  *:first-child *:last-child {
    margin-bottom: 0;
  }

  .meta {
    text-align: right;
  }
}

// metadata
.meta {
  margin-bottom: 1rem;

  font-family: $sans-font;
  color: $meta-color;

  a {
    text-decoration-color: $meta-color;
  }
}

// feed links
.writing-headline {
  font-size: 1.3rem;

  font-family: $title-font;
  font-weight: 700;
}

// sugar
::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}
