@import '_variables';
@import '_reset';
@import '_fonts';

@import '_base';
@import '_tufte';
@import '_timeline';
@import '_sidenotes';


// basics
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  font-weight: $regular-font-weight;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $page-color;
  color: $text-color;
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.6rem;
  height: 100%;
  margin: 0;
}

h1,h2,h3 {
  font-family: $title-font;
  font-weight: $title-font-weight;
}
h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.6875rem;
  line-height: 2.4rem;
  margin-top: 4rem;
  margin-bottom: .8rem;
}
h3 {
  font-size: 1.3rem;
}

p {
  position: relative;
  margin-bottom: 1rem;

  // https://clagnut.com/blog/2395/
  hyphens: auto;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 2;
}

a {
  color: inherit;
}

.c-blockquote {
  padding-left: 1em;
  border-left: 0.2em solid;
  border-color: $meta-color;

  blockquote {
    margin: 0;
  }
  figcaption {
    text-align: right;
    &::before {
      content: '— ';
    }
  }
  // p + footer {
  //   margin-top: -1.5rem; // because p has a margin-bottom of 2rem
  // }
}

figure {
  margin: 1rem 0 2rem;
  padding: 0;
  position: relative;

  iframe {
    display: block;
    margin: 0 auto;
  }
}
figcaption {
  font-family: $sans-font;
  font-size: 80%;
  line-height: 1.3rem;

  text-align: center;
  padding: 0.5rem;
}

hr {
  background: #111;
  border: 0;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

pre {
  font-size: 90%;
  margin-left: 2.5%;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

div.hidden {
  display: none;
}


// links
a {
  text-decoration: underline;
  text-decoration-color: $accent-color;

  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;

  position: relative; // for box-shadow on :hover
}

.internal  {
  font-family: $title-font;
}
a.internal  {
  font-weight: $bold-font-weight;
}
.internal::before {
  content: '/';
  color: $accent-color;
  font-weight: $bold-font-weight;
  text-decoration: none;
}
a.internal:hover::before {
  color: $page-color;
}

a:hover {
  color: $page-color;
  background-color: $accent-color;
  box-shadow: 0 0 0.5rem 0.5rem $page-color;
}

a.sticker {
  display: inline-block;
}

a:hover.sticker {
  border-color: $accent-color;
}

dt  {
  clear:left;
  float:left;
  min-width: 25%;
  padding-bottom: 8px;
}
dd {
  clear:right;
  padding-bottom: 8px;
}

// feed lists
.feed-item {
  margin-top: 3.9rem;

  *:first-child *:last-child {
    margin-bottom: 0;
  }

  .meta {
    // text-align: right;
  }
}

// metadata
.meta {
  font-family: $sans-font;
  font-size: 80%;
  color: $meta-color;

  a {
    text-decoration-color: $meta-color;
  }
}

.signature {
  border-top: solid 1px $accent-color;
  padding-top: 1.0rem;

  font-style: italic;
  a.internal {
    font-weight: inherit;
  }
}

// feed links
.writing-headline {
  font-size: 1.3rem;

  font-family: $title-font;
  font-weight: $bold-font-weight;
}

// weeks list
body.weeks-index {
  ol {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

// sugar
::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}
