---
title: Stickers
---

It's common to put logos on car bumpers, laptop lids, or clothing in an effort to label oneself with the context of better-known brands.

This is where I do the same on my website.

<div class="logos">
<!-- http://stackoverflow.com/questions/6063308/touch-css-pseudo-class-or-something-similar#comment11746924_6063367 -->
<style>
  .logos {
    margin-top: 16px;
  }
  .logos a {
    margin: 16px;
    display: inline-block;
  }
  .logos svg * {
    transition: fill 0.5s ease;
  }

  .logos #apple path { fill: #000000; }
  .logos #apple:hover path.green { fill: #5EB345; }
  .logos #apple:hover path.yellow { fill: #F3B336; }
  .logos #apple:hover path.orange { fill: #E7792B; }
  .logos #apple:hover path.red { fill: #D0383E; }
  .logos #apple:hover path.blue { fill: #0092C7; }
  .logos #apple:hover path.purple { fill: #863B84; }
  .logos #bell path { fill: #000000; }
  .logos #bell:hover path { fill: #019de7; }
  .logos #eff path.dot { fill: #aaaaaa; }
  .logos #eff:hover path.dot { fill: #cb1009; }
  .logos #twitter path { fill: #000000; }
  .logos #twitter:hover path { fill: #3BA9EE; }
  .logos #lego path.gold { fill: #aaaaaa; }
  .logos #lego path.red { fill: #000000; }
  .logos #lego:hover path.gold { fill: #DCBC9A; }
  .logos #lego:hover path.red { fill: #D82F32; }
  .logos #next path { stroke: #FFFFFF; }
  .logos #next:hover path.n { stroke: #FA1516; }
  .logos #next:hover path.e { stroke: #FCFC17; }
  .logos #next:hover path.x { stroke: #16D41A; }
  .logos #next:hover path.t { stroke: #FB16BB; }
  .logos #dec path.block { fill: #000000; }
  .logos #dec:hover path.block { fill: #840029; }
  .logos #solidarity path { fill: #000000; }
  .logos #solidarity:hover path { fill: #FF0000; }
  .logos #bicycle path { fill: #000000; }
  .logos #bicycle:hover path { fill: #F3B336; }
  .logos #vegetarian path { fill: #000000; }
  .logos #vegetarian:hover path { fill: #017F00; }

</style>

<a id="eff" href="https://eff.org/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 92">
    <path d="M129 46c0 23.7-19.3 43-43 43S43 69.7 43 46 62.3 3 86 3s43 19.3 43 43z" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="square"/><path d="M31 17h44v12H31V17zm0 46h44v12H31V63zm0-24h42v12H31V39zM3 17h28v58H3V17z" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="square"/>
    <path d="M129 46c0 23.7-19.3 43-43 43S43 69.7 43 46 62.3 3 86 3s43 19.3 43 43z" class="dot"/><path d="M31 17h44v12H31V17zm0 46h44v12H31V63zm0-24h42v12H31V39zM3 17h28v58H3V17z"/><path d="M87 19h6v4h-6v-4zm0 10h4v4h-4v-4zm-4-10h4v24h-4V19zM87 51h6v4h-6v-4zm0 10h4v4h-4v-4zm-4-10h4v24h-4V51z" fill="#fff"/></svg></a>

<a id="apple" href="https://apple.com/">
  <svg height="64" vxmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 165">
      <path class="green leaf" d="M93.75 27.23c5.37-6.9 9.45-16.66 7.97-26.63-8.78.6-19.05 6.2-25.05 13.5-5.44 6.6-9.93 16.42-8.18 25.97 9.56.3 19.5-5.44 25.24-12.84"/>
      <path class="green" d="M7.7 59.96l.14-.24c8.48-13.06 21.84-20.7 34.4-20.7 12.8 0 20.84 7.02 31.42 7.02 10.26 0 16.52-7.04 31.3-7.04 11.2 0 23.03 6.1 31.48 16.63-2.34 1.28-4.44 2.74-6.32 4.34H7.7"/>
      <path class="yellow" d="M7.7 59.96C4.07 65.63 1.76 72.8.86 80.9H118.3c1.27-7.8 5.13-15.27 11.82-20.93H7.7"/>
      <path class="orange" d="M1.5 101.83C.33 94.48.14 87.4.86 80.9H118.3c-1.15 7.04-.18 14.37 2.72 20.93H1.5"/>
      <path class="red" d="M7.23 122.76c-2.78-7.03-4.68-14.1-5.75-20.93h119.54c3.7 8.36 10.55 15.45 20.2 19.1l-.84 1.84H7.23"/>
      <path class="purple" d="M140.38 122.77c-3.3 7.3-5.22 11.08-9.8 18.06-.62.94-1.26 1.9-1.92 2.86H18.32l-1.05-1.58c-4.12-6.3-7.46-12.82-10.04-19.37h133.15"/>
      <path class="blue" d="M128.66 143.7c-6.75 9.9-15.8 20.8-26.8 20.9-10.74.1-13.5-7-28.05-6.92-14.53.08-17.57 7.04-28.3 6.94-11.47-.1-20.4-10.82-27.17-20.92h110.34"/>
    </svg></a>

<a id="bell" href="http://www.textfiles.com/phreak/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0.58 0.58 40 40">
    <path d="M6.53 29.1c2.9 4.74 8.1 7.92 14.05 7.92 5.67 0 10.67-2.88 13.62-7.25C35.97 27.14 37 24 37 20.6c0-9.08-7.35-16.45-16.42-16.45-9.07 0-16.43 7.37-16.43 16.44 0 3.1.87 6 2.38 8.5zM20.58.68c11 0 19.9 8.92 19.9 19.9 0 11-8.9 19.9-19.9 19.9-10.98 0-19.9-8.9-19.9-19.9C.68 9.6 9.6.68 20.58.68z"/>
    <path d="M33 28.7h-.02v-5.65"/>
    <path d="M29.73 19.64c.07 3 3.26 3.46 3.26 3.4l-.04 5.65h-10.2v2.75h-4.34l-.02-2.77-10.2.05v-5.7c2.45-.47 3.15-2.02 3.26-3.42l.57-6.76c.13-1.77 1.5-2.75 2.8-2.92 2.73-.34 3.47-.2 3.47-.24l.02-2.42h4.56l.03 2.44c.95.02 2.7.14 3.48.23.8.1 1.4.4 1.86.86.2.2.35.4.5.63.26.45.4.96.44 1.44l.57 6.77zm-1.18 5.3v-1c-2.1-.98-2.27-2.2-2.38-3.37l-.5-5.2c-.05-1.34-1.05-1.9-2-1.97-1.03-.08-2.06-.12-3.07-.12-1.03 0-2.05.04-3.07.12-.88 0-1.88.53-2 1.96l-.5 5.14c-.28 3.1-2.4 3.47-2.4 3.5v.94h15.92z"/>
    <path d="M28.22 10.8c.2.2.35.4.5.63-.15-.23-.3-.43-.5-.62z"/></svg></a>

<a id="dec" href="https://en.wikipedia.org/wiki/VAX">
  <svg height="32" style="padding-top: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 556 170">
    <path class="block" d="M3 3v164h75V3H3m82 0v164h70V3H85m78 0v164h74V3h-74m82 0v164h69V3h-69m77 0v164h71V3h-71m80 0v164h74V3h-74m82 0v164h69V3h-69z"/>
    <path fill="#FFFFFF" d="M49 42v29c-3.12-2.04-6.25-4.04-10-4.67C-1.4 59.6 11.72 147.2 49 121v3h15V42H49m64 0v13h14V42h-14m159 0v13h15V42h-15m78 0v24h-8v10h8v39c0 11 18 11 24.4 4.5l-.4-7.5-10 1V76h10V66h-10V42h-14m162 0v82h14V42h-14m-94 36c3.26.9 7.36 3.25 10.8 2.6 4.25-.84 15.1-12.04 18.35-1.5 2.65 8.57-21.9 10.67-26.54 15.43-8.1 8.33-6.92 24.34 4.4 29.38 8.16 3.6 17.1.3 24-3.9l-1 4h14c-.9-11.32-1-22.54-1-34 0-5.3 1.1-12.04-1.42-16.94-9-17.46-34.48-8.22-41.54 4.98m-208 43c0 11.5-9.5 25.9-20 12l-13 4c5.03 17.9 35.04 18.1 43.36 3 3.94-7.2 2.64-16.1 2.64-24V67h-13v4c-3.1-1.96-6.33-3.9-10-4.62-10.4-2.07-19.6 6.6-23.2 15.62-6.83 17.04 1.2 43.36 22.2 42.98 4.4-.08 7.4-1.66 11-3.98m-97-54v57h14V67h-14m159 0v57h15V67h-15z"/>
    <path class="block" d="M36 78.87c-13.25 5.04-10.36 39.3 6.96 32.53 10-3.92 7.02-37.84-6.96-32.53m161-.08c-13.34 4.4-10.82 38.93 6 32.6 10.9-4.18 8.2-37.38-6-32.6M447 94c-4.66 2.65-10.37 2.8-14.8 5.46-12.46 7.47 7.12 22.65 14.62 9.37 1.17-2.08 1.15-4.52 1.18-6.83.03-2.83.1-5.4-1-8z">
  </svg></a>

<a id="next" href="http://simson.net/ref/NeXT/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
    <path class="box" fill="#000000" d="M48 162l12-72 68 129-16 63-64-120zm86 58l-18 64 125-67 24-66-131 69z"/>
    <path class="box" fill="#000000" d="M60 83l135-72 71 135-134 72L60 83z"/>
    <path class="n" fill="none" stroke-width="8" d="M106 140L80 92l68 16-26-48"/>
    <path class="e" fill="none" stroke-width="8" d="M208 64c0 12-6 23-16 28-16 8-35 1-42-15-6-14 0-30 13-38 14-7 31-3 40 10l-53 28"/>
    <path class="x" fill="none" stroke-width="8" d="M137 204l24-80m27 53l-79-25"/>
    <path class="t" fill="none" stroke-width="8" d="M171 121l56-30"/>
    <path class="t" fill="none" stroke-width="7" d="M199 106l28 52"/></svg></a>

<!--
<a id="github" href="https://github.com/gerwitz">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
    <path d="M512 0C229.2 0 0 229.3 0 512c0 226.3 146.7 418 350.2 485.8 25.6 4.7 35-11 35-24.6 0-12.2-.6-52.6-.8-95.3C242 908.5 212 817.2 212 817.2c-23.4-59-57-75-57-75-46.5-31.6 3.6-31 3.6-31 51.4 3.6 78.4 53 78.4 53 45.8 78 120 55.5 149 42.4 4.7-33 18-55.7 32.6-68.4-113.7-13-233.3-57-233.3-253 0-56 20-101.6 52.7-137.5-5.2-13-22.8-65.3 5-135.8 0 0 43-13.7 141 52.5 40.7-11.4 84.5-17 128-17.2 43.5.2 87.3 6 128.2 17.3 97.8-66 140.8-52.3 140.8-52.3C809 283 791.2 335 786 348c32.8 35.8 52.6 81.4 52.6 137.3 0 196.7-119.7 240-233.8 252.7 18.5 16 34.8 47 34.8 94.8 0 68.4-.7 123.6-.7 140.5 0 13.6 9 29.5 35 24.5C877.3 930 1024 738 1024 512 1024 229.2 794.7 0 512 0z"/></svg></a>

<a id="twitter" href="https://twitter.com/gerwitz">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="328 355 335 276" >
    <path d="M630 425a195 195 0 0 1-299 175 142 142 0 0 0 97-30 70 70 0 0 1-58-47 70 70 0 0 0 31-2 70 70 0 0 1-57-66 70 70 0 0 0 28 5 70 70 0 0 1-18-90 195 195 0 0 0 141 72 67 67 0 0 1 116-62 117 117 0 0 0 43-17 65 65 0 0 1-31 38 117 117 0 0 0 39-11 65 65 0 0 1-32 35z"/></svg></a>
-->

<a id="lego" href="http://brickset.com/sets/871-1/Supplementary-Set">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 67"><g fill="none" fill-rule="evenodd"><path d="M127.4 6.5c-2-4.3-7.3-2.8-11-1.8-1.6.4-3.2 1-4.2 1-1.6 0-3-1-4.5-1.7l-.8-.4-1-.3c-1-.8-4-2.6-7-.6l-1 1-.8.4c-1 2-1.6 3-1.6 5l.3 3.7c0 .3 0 .7.2 1v1c-5 3-9 5.4-13.8 7C78 9 66 .7 52 .7c-17.5 0-32 14-33 31C18 32-4 42 0 52l3 4.7c.4 1 1.2 1.6 2.4 2 3 1 11 .6 23-2.2C34.4 63 43 67 52.4 67 71 67 85.7 52.2 86 34c6.3-2.6 13-5.8 17.3-7.8.4.2 1 1 1.5 1.4 2 1.8 4 4 7 3.6h.6l1.3-.4c3.2-.7 3.4-4 3.5-5.5v-.6l.2-1c.3-1.5.5-3 1.5-4.5 0-.7 2-1.7 3-2.7 3-2.4 7-5.7 5-10zM11 48c1-1 3.7-2.7 9.5-5.7.3 1.3.8 2.7 1.3 4-4 1-7.7 1.6-11 1.8z" fill="#FFF"/><path d="M97.6 20.8c.6 1.2 1.8 2.3 2.6 2.6.8.3 2.3-1 4-.3 1.7 1 4.7 6 7 5h1.8c1.4 0 1.2-3 1.4-4 .3-2 .5-4 2.2-7 2.4-3 9.8-6 8.2-9C123 4 116 8 112 8c-2.6 0-4.6-1.4-6.5-2.4-1-.5-2.7-2-3.8-1.2L100 5.6c-1.5 1.5.4 6.7 0 8.5-.7 2-2.6 3-3 3-.2 1 0 3 .6 4M81 33c1.8-.8 2.5-3 1.6-4.6-.8-2-3-2.6-4.6-1.7C52.3 39 17 53 3 49.3L5.4 54c1.4 3 31.4 0 75.7-21.5" class="red"/><path d="M77.4 24.2c1.4-.7 3-.8 4.6-.4C78 11.8 66.4 3 52.8 3 35.8 3 22 16.5 22 33c0 4.4 1 8.4 2.5 12 15.8-4.2 36.2-12.7 53-20.8" class="gold"/><path d="M19.5 34C13 37.8 3.5 44.2 4 47.5h.4c1 .3 2 .4 3.3.5 1-2.7 8-6.7 12.3-9-.3-1.6-.4-3.3-.5-5" class="red"/><path d="M83.6 35.2C63 45.2 45.4 51.2 32 54.6c5.5 5.2 13 8.4 21.3 8.4C69.6 63 83 50.6 84 35l-.4.2" class="gold"/><path d="M85.8 28.3c.6 1.5 2.3 2 3.7 1.4 1.3-.7 2-2.5 1.2-4l-.5-1c-.6-1.5-2.3-2-3.7-1.4-1.3.7-2 2.5-1.2 4l.5 1m7.6-3.5c.5 1 1.6 1.5 2.5 1 1-.5 1-1.8 0-3l-1-2.6c-.7-1-1.8-1.5-2.7-1-1 .5-1.4 1.8-1 3l1.3 2.6" class="red"/></g></svg></a>

<a id="bicycle" href="https://www.dutchcycling.nl/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217 128"><g fill="#00000"><path stroke="#000000" fill-rule="evenodd" d="M141.66 87.9l28.3-4.75-17.8-23.66c-9.28 8.28-10.45 18.04-10.5 28.4zm-7.8 1.7c0-.98-.2-2.64-.2-3.8 0-11.72 3.76-23.2 13.8-32.7l-10.53-12.65-16.25 50.6 13.18-1.36v-.1zM71.5 39.23l.87-2.78 57.87-.1L114.92 84l-.68-4.88H116l-.2-3.22H108l.3 2.93h1.94l.5 5.38-39.2-44.9-.05-.05zM45.76 85c7.8-6.34 13.86-12.3 18.25-24.3 6.84 6.35 10.84 15.62 10.84 25.1 0 18.78-15.13 34.15-33.58 34.15-18.44 0-33.57-15.32-33.57-34.1 0-18.9 15.14-34.27 33.58-34.27 5.86 0 11.96 1.7 16.8 4.64-3.28 10.63-6.5 16.1-16.6 24.4-2.44.1-4.4 2.1-4.4 4.53 0 2.44 2.06 4.5 4.5 4.5s4.24-1.96 4.24-4.64h-.05zm97.1 10.1c3.77 14.5 17.24 24.9 32.22 24.9 18.4 0 33.47-15.37 33.47-34.16 0-18.9-15.13-34.26-33.53-34.26-5.95 0-12.7 1.46-17.7 4.4l18.14 24.64c2.2 0 4.15 2.05 4.15 4.53 0 2.44-1.95 4.5-4.4 4.5-.72 0-1.46-.15-2.04-.5l-30.32 6.06v-.1zM60.42 48.27l11.97-33.38L68.6 8.3 76.14 0h16.1l.24 4.73H78.32L75.4 7.9l3.4 6.1-4.2 15.13h58.08l.83-2.78c-4.62-.63-12.67-3.56-14.63-5.27-1.95-1.7-.2-3.27 1.96-3.32 11.46-.5 28.5-1.46 31.72-1.46 3.22 0 3.56 1.6 1.36 4.05-2.13 2.44-4.04 4.6-12.2 5.86l-2.23 6.06 13.66 17.37c6.5-4 14.3-6.1 21.96-6.1 22.73 0 41.37 19.03 41.37 42.26 0 23.22-18.64 42.2-41.48 42.2-18.7 0-35.24-13.18-40.02-31.48l-12.7 2.35c-.48 1.46-1.75 2.68-3.26 3.56l2.3 10.93h2.92l.2 2.93-9.03.48v-3.13h2.2l-2.73-10.93c-4.1-.68-6.24-4.24-5.02-7.8L68.7 47.37l-1.84 5.13c9.95 8 15.95 20.4 15.95 33.3C82.8 109 64.28 128 41.34 128 18.6 128 0 108.97 0 85.74-.1 62.4 18.45 43.48 41.28 43.48c6.64 0 13.47 1.66 19.18 4.78h-.05z"/></g></svg>

<!-- solidarity -->

<a id="solidarity" href="https://en.wikipedia.org/wiki/Solidarity">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 423"><g fill="#00000"><path d="M118.7 1c-.8.8-2.5 2-3.8 3-1.3 1-4 4-6 7-1.8 3-4.6 6.7-6 8.5-1.7 1.8-3 3.7-3 4.3 0 .6-.3 1.4-.8 1.7-1.2 1-6.3 10.2-6 10.8.7 1-3.2 7-5.3 8.5-2.7 1.8-6.6 7.6-6.4 9.3.4 2.8 1.2 4 3 4.6 1 .2 2 .8 2.3 1 1.3 1.6 8.3 5 10.4 5.5 1.3.3 3.7 1.4 5.3 2.5 1.6 1 5 2.4 7.3 3 2.4.5 5.3 1.7 6.5 2.5 1.2 1 2.7 1.8 3.5 1.8.8.2 1.7.6 2.2 1 .4.5 2.7 1 5 1.2 4.6.4 8-1.2 9-4.3.5-1 3.3-5.3 6.4-9.6 3-4.2 7-10.2 8.4-13 1.5-3 3.7-6.4 4.8-7.8 1-1.5 2.7-4.4 3.4-6.5.8-2 2-4.3 2.3-5 1.5-1.7 1.2-5-.6-6-1-.6-3.3-2.4-5-4.2-2-1.7-3.5-3-3.7-3-.2 0-1-1-1.7-2-.8-1-2.8-2.5-4.5-3.4-1.7-.7-4.5-2.4-6.3-3.4-6-4-7-4.4-8-4.4-.6 0-2.2-1-3.6-2-3-2.2-7-2.7-9.3-1zM169.5 32c-.5.5-2 1.3-3 1.5-1.3.3-2.6 1.4-3.7 3.2l-3.5 5.6c-1 1.6-2.7 4.6-3.7 6.7-1 2-2.7 5-3.7 6.3-2.7 3.3-4.7 6.8-4.7 7.7 0 .4-1 2-2.3 3.4-1.3 1.4-3.3 4.6-4.5 7-1.8 4-2 5-1.5 6.8.4 1 1 2 1.3 2h.8l3.4 1.2c1.7.6 4.8 2 6.7 3.2 2 1 4.2 2.3 5 2.4 1 .2 2.3.8 3.2 1.4 5.6 3 8 4.3 10 5 4.6 1.6 5.3 6.2 2.5 13.7-.7 2-1.3 4.7-1.4 6.3 0 1.6-.3 4-.5 5.5-.6 3.7.6 4.8 3.7 3.5 1.3-.6 2.4-1.3 2.4-1.7 0-.4 0-.6.4-.6.3 0 2-1.3 3.4-3l5.2-4.4c2-1.4 8.4-9.3 12-14.6.3-.8 2.2-3.5 4-6.2l3.8-6c.3-.6 1.7-2.4 3-4 1.4-1.6 2.5-3.3 2.5-3.8s.7-1.8 1.7-3 1.8-3.4 2-5c.3-1.5.8-3.3 1.2-4 1-1.6 2-7 1.7-9-.3-1-2-2.6-4.6-4.2-2.3-1.5-5.3-4-6.8-5.4-3.8-4-9.2-7.7-13.3-9.2-2-.8-5.8-2.6-8.4-4.2-2.7-1.6-5.5-3-6.4-3.2-1-.3-2.4-.8-3.2-1.3-2.2-1-4-1-5 .4z"/><path d="M68 58c-3 1.2-8 6-11.7 11.5-2 3-5.3 7.4-7 9.6-2 2.3-3.5 4.6-3.5 5.3 0 .7-.5 1.6-1 2.2-.8.5-1.3 1.4-1.3 2 0 .5-1.2 2.4-2.6 4-1.5 1.7-3 3.8-3 4.8-.6 2-1 2.6-4 6-1.2 1.2-2.5 3-3 4.2-.2 1-1.6 3-3 4-1.4 1.3-3 3.4-3.8 5l-2.6 4c-6 7.8-7 9.6-6.5 13 .5 2.2 0 2.8-3.3 6.7-2 2.3-4 5.2-4.4 6.2-.2 1.2-2 4.3-3.8 6.8C1.7 156 .2 159 0 160c0 1.6 1 3.8 5.4 10 3 4.2 6 8.5 6.5 9.5 2 3.5 4.6 6 6.8 6.6 2.7.7 4 2.6 4.5 6 .4 2.7 1.4 4.6 2.5 4.6.4 0 .8.4.8.8 0 .5 1 1 2 1.4 1.7.4 2.4 1.2 3.6 4 .8 2 1.7 3.8 2 3.8.3 0 .6.6.6 1 0 .8.6 2.4 1.4 3.6.8 1.3 1.5 2.5 1.5 2.8 0 .3 2 3.4 4.2 6.8 2.2 3.5 5 7.8 6 9.6 1.8 3.2 4 4.5 9.8 5.7 3 .7 3.5 1.5 2.8 4-.8 2.4.3 5.5 4 11 1 2 2.3 4 2.6 4.6.3.7 2.2 3.2 4.3 5.7 2 2.5 4.2 5.3 4.7 6.2.4 1 2.4 4 4.4 7 2 2.8 4 6.3 4.7 7.7.5 1.4 1.6 3.5 2.6 4.7 2.4 3 5.2 9 5.4 12 0 1.4-.3 3.6-1 5-1 2.4-1.7 6.8-2 10.8 0 1-.4 2.8-1 4.2-.4 1.3-.8 4.6-1 7.3 0 2.6 0 5.2-.4 5.6l-.6 3.4c-.2 1.4-.6 3.6-1 4.7-.5 1.3-1 5.4-1 9.3-.5 9.2-.7 10.8-1.8 13.2-.6 1.2-1 3.6-1.2 5.4-.4 4.6-1 9-1.6 10-.2.3-1 2.8-1.4 5.3l-1.8 6.8c-.6 1.6-1 5.5-1 14.8 0 12.2 0 12.5 1.5 13.7 1 .8 2.4 1.5 3.4 1.7 1 .2 2.3.8 2.8 1.4.7.8 15 1 71.3 1.2 81.2.2 73 1 73-8.5.2-3.4.6-7 1.2-8.7 1-2.7 1-5 .8-19.5-.3-20-.4-15 .2-34.7l1-29.3c.2-11.7.3-13 1.7-15.6.7-1.7 2.3-4 3.6-5 4.6-4.5 8-9.3 8.4-11.7.3-1.8 1.5-3.7 4.3-6.7 9-9.5 9.8-10.7 11-15.7.7-2.6 1.7-5.7 2.2-7 .5-1 1-3 1.2-4 0-1 .6-2.6 1-3.6 1-2 1.6-5.3 2-9 0-1.5.4-3 .7-3.4.4-1 1.6-6.3 2-10l1-4c.4-1.7.4-2.6-.6-5-1.6-3.6-1.5-4.8.5-8 1-1.6 1.7-3.2 1.7-3.7s.7-2.4 1.5-4.2c1-1.8 1.6-4.6 1.7-6.5 0-2 .5-5 1-6.6 1.2-3.6 1-7-.7-7.6-.6-.2-3 1-5 2.4-2.3 1.5-4.2 2.7-4.2 2.5-.6-1 3-6.4 5-7.4 1.2-.7 3-2.6 4-4 1-1.7 4-5.5 7.2-8.6 3-3 6.7-7 8-8.7l3-3.4c1-1 2.4-4.8 2.4-7 0-3-1-5.2-2.8-6.6-1-.6-2-2-2.8-2.7-2-2.5-6-7-6.4-7-.3 0-4-4.5-8-10-2.4-3.5-6.2-6.5-8-6.5-1.6 0-3.7 2-7 6.6l-5.3 6.7-5 6.3c-1.2 1.8-5.4 6.6-9.3 10.7-3.8 4-8 9-9.6 11.2-1.4 2-4 5.3-5.5 7-1.7 2-4.5 5.6-6.4 8.2-2 2.6-3.7 4.8-4 4.8-.3 0-2 2-3.7 4.6-2 2.5-3.7 4.5-4 4.5-1.2 0-2.8 2.8-2.8 4.7 0 2 .6 2.7 6.7 8.6l4.8 5c.7 1.4 9.6 9 10.5 9.2.5 0 1.6 0 2.5.2 1 .2 2.7-.7 4.5-2.5 1.6-1.5 3-2.8 3.4-2.8.3 0 1.6-1 2.8-2.3 2.3-2.3 5.7-4.6 6.4-4.3.2.2.5 0 .7-.5.7-1.4 4.4-4.2 6.5-4.8 1-.3 2.8-1.7 3.8-3 2-2.5 6-5.3 6-4 0 1.6-3 5-5.2 5.7-1.3.5-2.6 1.6-3 2.5-.8 1.3-3 3.4-4.4 3.8-.4 0-1.4 1-2.3 2.3-1.5 2.3-4.5 4.6-11.7 9.8-2 1.4-4.5 3.6-5.5 5-.8 1.3-1.8 2.4-2.2 2.4-.3 0-1.8-1.5-3.4-3.4-1.5-1.8-3-3.3-3.5-3.3-.4 0-2.2-1.5-4-3.3-1.7-1.8-3.5-3.3-4-3.3-.2 0-1.3-1.2-2-2.6-1-1.3-3-3.3-4.5-4.3s-3.5-2.5-4.5-3.5c-6.3-6.4-14.4-10.6-23-11.8-1.5 0-4.4-1-6.7-2-5.4-2-9.5-3.2-11.7-3.5-3.6-.7-7-1.5-9.2-2.3-1.2-.6-4.4-1-7.2-1.2-2.8-.2-5.6-.5-6.3-.8-2.6-.8-7.8-.7-8.4 0-.8 1.4.2 4 2.6 6.3 1 1 4 5 6.5 8.3 2.6 3.6 5 6.5 5.3 6.5.4 0 1.3 1.4 2 3 1 1.7 2.6 3.8 4 4.7 1.2 1 2.6 2.4 3 3.3.4.7 2.8 3.5 5.5 6 4.8 5 8.6 10.2 9.4 13.3.2 1 1.5 3.7 2.6 6l2.8 6c.3.8 1.3 3 2 5.2 1 2 1.8 4.4 1.8 5 0 .7.5 2.4 1.2 3.6.7 1.4 1.4 3 1.5 4 .3 1.4 3.5 8.6 4.3 9.4.3 0 .8 2.6 1.3 5.4.6 4 1.2 5.4 3 7.4 2 2.3 7.5 7 8 6.8h.3l1 .2c.3 0 .7.7.8 1.4.3 1.8-5.4 6-10.3 7.7-2 .8-4 2-4.5 2.8-.6 1.2-.7 7.4-.8 27.7 0 14.3-.2 28.8-.4 32-.3 5.2-.2 6.4 1 9 1 2.7 1.7 11 .8 14-.3 1-2 2-2 1-1-5.6-1.4-14-1.2-18.7.3-4.8 0-7-.7-9-.5-1.7-1-5.8-1.3-11.6-.2-4.8-.5-9-.7-9.5-.2-.5-.4-3.8-.6-7.6 0-3.7-.5-7.5-1-8.4-.3-1-1-4-1-6.8-.3-2.8-1-6.2-1.4-7.4-.4-1.3-1-4.5-1-7-.5-6.4-1.7-7.6-6.4-7-6.7 1-16.3.2-17-1.3-.2-.6 4.5-2.5 6.2-2.5.5 0 4-2 10-6 1.3-1 2.6-2 2.8-2.3.3-.6 5.4-4 6-4h1c.8 0 4.7-5 4.7-6.2 0-1.5-3.3-7.6-5.4-10.3-1.2-1.4-2.6-4-3.3-5.8-.5-2-2-4.2-3-5.2-1.2-1-3-3.2-4-5-.8-1.6-2.6-4-4-5.4-1-1.4-3.5-4.7-5-7.4-1.7-2.7-3.6-5.7-4.4-6.5-1-1-2-2.7-2.3-4-.5-1.3-2.6-4-4.7-6.2-2-2.2-3.8-4.2-3.8-4.5 0-1.2-2-4-4-5.4-1-.8-2-2.2-2.5-3-.3-1-2-3.7-3.6-6-6.5-9-7.3-10.2-7.6-11.5 0-.6-1-2-1.8-3-1-.8-2.5-3-3.7-4.8-3-4.5-6.5-7.2-10-7.6-1.8-.2-4.4-.8-6-1.5l-4.5-2c-3.8-1.5-8.5-4-11.2-5.8-1.4-1-4.2-2-6.3-2.2-4.7-.6-9.4-2-10.4-3-1-1.3.2-2.3 2.6-2.3 3.5 0 4.8-1.4 12.7-13.3 2-3.3 2.2-4 2.3-8 0-3-.3-5-1-6-.8-1-1-2-1-2 .3 0 .2-.8 0-2-.5-1.6-.4-2.2.2-2.5 1-.6 5.2 2.3 7 5 1 1.2 2 2 2.3 2 .4 0 2 2 3.8 4 1.8 2 4.7 4.8 6.6 6 1.8 1.4 4.2 3.6 5 5 2 2.7 2 2.7 10 2.7 2.8 0 4.6-.5 5.6-1.4.8-.7 1.4-1 1.4-.8 0 .2 1.4-.4 3-1.4 2.4-1.3 4.8-1.7 10.3-2 4.8-.2 7.7-.7 9-1.5 1-.7 2.8-1.4 4-1.6 3-.6 6-2 7.4-4 1.4-2 3.4-8.4 3.6-12.2 0-1.6.6-3.6 1-4.4 1.4-2.3 2-7.4 1.3-10.2-.7-2-10.2-9.2-13.3-9.8-1.2-.2-3.8-1.4-5.7-2.5-1.8-1.2-4.4-2.4-5.8-2.7-1.3-.2-5.2-1.6-8.6-3-3.4-1.4-7-3-8.4-3.3-1.2-.4-3.6-1.6-5.2-2.8-1.5-1-4-2.2-5.7-2.4l-5.8-.7c-1.6-.3-4.7-1.5-7-3-3.8-2.3-7.8-4.2-12-5.6-1.2-.4-3.7-1.6-5.4-2.6-3.7-2-3.8-2-10.4-3.6l-3.8-1c-1.3-.5-3-.6-3.8-.3z"/><path d="M216.2 74c-.7.5-1.4 1.8-1.6 3-.3 1-.7 2.2-1 2.5-.4.3-1.6 2.4-2.7 4.7-1.3 2.3-2.6 4.7-3.2 5.2-.6.6-2 3-3.5 5-4.4 6.6-8 11.8-8.6 11.8-.2 0-1 1.5-1.5 3.2-1.2 3.5-4.7 9.5-10.6 18-2 3-3.7 5.7-3.7 6 0 .5-1.6 3-3.6 5.7-10.6 15-18 26-18 27.4 0 .5.4 1.5 1 2 1 1.3 8.5 5.7 15.6 9 2.6 1.4 5.5 3 6.5 3.7 1 1 3.2 1.6 5 1.8 1.8.2 4 1 5.2 2 1 .7 2 1.5 2.2 1.5l2 1c3 2 5.8 1.4 8.7-1.6 1.4-1.5 3.7-3.7 5-4.8 1.3-1.3 3.5-3.8 4.8-5.8 1.4-2 3.3-4 4.3-4.8 1-.7 2.5-2.6 3-4 .8-1.6 2.3-3.8 3.7-5 1.3-1.4 2.6-3 3-4 .2-.8 2-3 3.8-5 1.8-1.8 5.3-6 7.6-9.2 5-7 4.8-6.8 8-10.4 1.4-1.5 3-3.7 3.4-5 .4-1.2 1.8-3.7 3-5.5 2.6-3.7 6.5-11.3 7-14 .8-2.3-2.5-8-5.5-9.5-1.3-.6-3-2-4-3s-3-2.7-4.6-3.6c-1.5-1-2.7-2-2.7-2.4 0-.4-1.5-2-3.2-3-1.8-1.4-3.2-2.8-3.2-3.2 0-.3-.3-.6-.7-.6-.4 0-1.2-.6-1.7-1.3-.7-.7-1.8-1.5-2.8-1.7-.8-.3-3.5-1.7-6-3.2-4.7-3.2-9-4.3-11-2.8zM157.5 139.5c-1 .4-3.3 1-5.2 1-2 .4-3.7.8-4 1-.8 1-3 1.3-7.7 1.6-2.5.4-5.4 1-6.4 1.3-1 .4-2.8 1-4 1.2-5.4 1-17.5 6.8-17 8.3.2 1.3 5.5 5.3 7.6 5.8 3 1 5.2 2 10.7 5.7 3.7 2.5 6.2 3.7 7.3 3.6 3-.6 6-3.7 9-10 3-6 3.2-6.4 6.4-7.7 3.6-1.5 6.8-5.3 7.4-9 .2-1.2.3-2.3.2-2.6-.6-.8-2.6-1-4.3-.2z"/></g></svg>
</a>

<!-- kindle -->

<!-- ACLU -->

<!-- long now -->

<!-- cascadia -->
<a href="https://en.wikipedia.org/wiki/Doug_flag"></a>

<!-- amsterdam -->
<a href="https://nl.wikipedia.org/wiki/Vlag_van_Amsterdam"></a>

<!-- EU -->

<!-- UN -->

<a id="vegetarian" href="http://v-label.eu/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 362">
    <g transform="matrix(0.1,0,0,-0.1,0,362)" style="fill:#000000;stroke:none">
      <path d="m 3190,3550 c -80,-21 -249,-59 -375,-84 -321,-63 -372,-82 -515,-188 -203,-151 -345,-443 -344,-708 1,-101 16,-173 33,-154 4,5 18,34 30,64 61,147 238,371 389,492 77,62 232,123 232,91 0,-11 -53,-77 -116,-143 -59,-63 -79,-89 -190,-250 -115,-169 -265,-471 -366,-740 -98,-261 -170,-469 -218,-625 -81,-267 -154,-478 -167,-482 -16,-6 -60,137 -152,492 -143,556 -204,747 -350,1095 -100,237 -232,427 -500,718 -147,161 -356,315 -482,357 -82,28 -89,14 -27,-55 292,-329 461,-573 640,-920 151,-295 255,-588 444,-1260 48,-172 154,-610 188,-780 38,-189 80,-374 91,-403 4,-9 19,-21 34,-25 34,-9 198,-9 233,0 52,15 62,56 134,528 48,319 89,510 171,795 139,486 287,842 377,900 13,8 77,24 144,35 260,43 469,158 617,341 99,122 125,212 150,512 13,159 21,204 51,299 19,62 32,118 30,125 -7,18 -23,16 -186,-27 z"/>
    </g>
  </svg>
</a>

</div>
