---
permalink: /editions/gemini/gemlog/index.gmi
eleventyExcludeFromCollections: true
---
# Hans Gerwitz's gemlog
## Notes and longer writing from hans.gerwitz.com

{% for entry in collections.microblog %}
=> {{ entry.url | geminiPath }} {{ entry.date | date("YYYY-MM-DD") }} - {{ entry.title | plaintext | safe }}
{% endfor %}

=> /index.gmi Capsule home
