---
permalink: /editions/gemini/gemlog/index.gmi
eleventyExcludeFromCollections: true
---
# Hans Gerwitz's Gemlog
## Recent posts

{% for entry in collections.gemlog | reverse | limit(50) -%}
=> {{ entry.geminiUrl }} {{ entry.date | date("YYYY-MM-DD") }} - {{ entry.data.title | plaintext | safe }}
{% endfor %}

## Archives

=> /posts/ /posts - all {{ collections.gemlog | length }} posts
=> /notes/ /notes - all {{ collections.notes | length }} untitled notes
