---
permalink: /editions/gemini/gemlog/index.gmi
eleventyExcludeFromCollections: true
---
# Gemlog
## Recent posts

{% for entry in collections.writing | reverse | limit(50) -%}
=> {{ entry.url | geminiPath }} {{ entry.date | date("YYYY-MM-DD") }} - {{ entry.data.title | plaintext | safe }}
{% endfor %}

## Archives

=> /writing/ /writing - all {{ collections.writing | length }} articles
=> /notes/ /notes - all {{ collections.notes | length }} untitled notes
