---
layout: base
bodyClass: note
spermalink: "/{{ page.date | date('YYYY/MM/DD') }}/{{ page.inputPath | replace('src/site/notes/', '', 1) | replace (r/[0-9][0-9][0-9][0-9]\\/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-/, '') | replace(r/\\.\\w+$/, '') }}.html"
---

<article>

    {{ content | safe }}

    -- {{ page.date | date('HH:mm - D MMM YYYY') }}

</article>
