---
layout: base
bodyClass: writing
breadcrumbs:
    - writing
permalink: "/{{ page.date | date('YYYY/MM/DD') }}/{{ page.fileSlug }}.html"
---

<article>
    <div style="position: relative">
        <h1>{{ title }}</h1>
        <span class="marginnote">
            Posted
            {% if external -%}
                to <a href="{{external}}">{{ external | hostname }}</a> on
            {%- else %}
                here
            {%- endif %}
            <time datetime="{{ page.date | date('iso8601') }}">{{ page.date | date('MMMM Do, YYYY') }}</time>.
        </span>
    </div>

    {{ content | safe }}

</article>
