---
title: "Hexmap: Devlog"
---

{% set pages = collections.hexmapDevlog %}

<ul>
{%- for page in pages | reverse -%}
  {%- if page.url != "/projects/hexmap/devlog/" -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
  {%- endif -%}
{%- endfor -%}
</ul>
<p>
  You can also read about the Hexmap origin story at <a class="internal" href="../motivation">../motivation</a>.
</p>
