---
title: Notes
layout: page
tags:
pagination:
  data: collections.notes
  size: 6
  reverse: true
permalink: /notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}/index.html
eleventyExcludeFromCollections: true
---

{% if pagination.pageNumber > 0 %}
<div class="pagination">
  <a href="{{ pagination.previousPageHref }}">Newer notes</a>
</div>
{% endif %}

<div class="feed">
{% for item in pagination.items %}
  {% include "feed-note.njk" %}
{% endfor %}
</div>

{% if pagination.nextPageHref %}
<div class="pagination">
  <a href="{{ pagination.nextPageHref }}">Older notes</a>
</div>
{% endif %}
