---
permalink: "_redirects"
---
# historic public URLs
/library/records/*          /logs/appearances/:splat       301
/library/projects/*         /projects/:splat                  301
/uses/*                     /lists/objects/:splat               301

{% set thisweek = collections.weeks[collections.weeks.length - 2] %}
/now                        {{ thisweek.url }}                302

# Federation via Akkoma
/.well-known/host-meta*      https://fedi.gerwitz.com/.well-known/host-meta:splat 301
/.well-known/node-info*      https://fedi.gerwitz.com/.well-known/node-info:splat 301
/.well-known/webfinger*      https://fedi.gerwitz.com/.well-known/webfinger:splat 301
/@*                          https://fedi.gerwitz.com/@:splat 302

# Redirect default Netlify subdomain to primary domain
https://hgc-v12.netlify.com/* https://hans.gerwitz.com/:splat 301!
