---
title: hans.gerwitz.com
layout: base
headtags: |
  <!-- OpenID delegation -->
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d6fc3e55-7717-4688-8e57-55fce40c106c">

  <!-- distributed identity -->
  <link rel="me" href="https://social.gerwitz.com/@hans">
  <link rel="me" href="https://micro.blog/gerwitz">
  <link rel="me" href="https://twitter.com/gerwitz">
  <link rel="me" href="https://github.com/gerwitz">
  <link rel="me" href="https://www.linkedin.com/in/gerwitz">
  <link rel="me" href="https://www.facebook.com/gerwitz">

  <!-- IndieWeb -->
  <link rel="micropub" href="https://indiekit.gerwitz.com/micropub">
  <link rel="authorization_endpoint" href="https://indiekit.gerwitz.com/auth">
  <link rel="token_endpoint" href="https://indiekit.gerwitz.com/auth/token">
eleventyExcludeFromCollections: true
---

<header>
  <h1>Hans Gerwitz</h1>
</header>

<section class="emphasis">
  <p>
    I am an American who now lives in Amsterdam with my partner <a class="url fn" rel="friend spouse" href="https://shannonethomas.com/">Shannon</a> and work as Head of Design for <a class="employer" href="https://www.canonical.com/">Canonical</a>.
  </p>
  <p>
    You can learn more about me at <a href="/about/" class="internal">about</a>, find me elsewhere at <a href="/follow/" class="internal">follow</a>, or <a href="https://social.gerwitz.com/main/ostatus?nickname=hans" rel="me noreferrer nofollow">follow me on the fediverse</a>.
  </p>
  <!--
  <h2>Recently in <a href="/notes/" class="internal">notes</a></h2>
  {% set noteslist = collections.notes | reverse | limit(3) %}
  {% for item in noteslist %}
    <article>
      {% include "feed-note.njk" %}
    </article>
  {% endfor %}
  -->
</section>

<!-- this is here only because indieweb tools expect my home URL to have a microformat profile -->
<div hidden class="h-card vcard" style="display: none;">
  <img src="https://hans.gerwitz.com/about/avatars/munch.jpg" alt="avatar photo" class="photo u-photo" loading="lazy"/>
  <a class="url u-url fn p-name" href="https://hans.gerwitz.com/">Hans Gerwitz</a>
  <div class="adr">
    <span class="locality">Amsterdam</span>
  </div>
  <p class="p-note">
    American emigrant.
  </p>
</div>
