---
title: hans.gerwitz.com
layout: base
headtags: |
  <!-- OpenID delegation -->
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d6fc3e55-7717-4688-8e57-55fce40c106c">

  <!-- distributed identity -->
  <link href="https://micro.blog/gerwitz" rel="me">
  <link href="https://twitter.com/gerwitz" rel="me">
  <link href="https://github.com/gerwitz" rel="me">
  <link href="https://www.linkedin.com/in/gerwitz" rel="me">
  <link href="https://www.facebook.com/gerwitz" rel="me">

  <!-- IndieWeb -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link rel="micropub" href="https://sitewriter.net/hans.gerwitz.com/micropub">
eleventyExcludeFromCollections: true
---

<section>
  <p>
    Hello! This is the personal site of <a href="/about/" rel="me">Hans Gerwitz</a>.
  </p>
  <p>
    You can browse from <a href="/sitemap/" class="internal">sitemap</a> or use <a href="/search/" class="internal">search</a>. The easiest way to keep in touch is to <a href="https://twitter.com/intent/user?user_id=521" rel="me" target="_blank">follow me on Twitter</a>.
  </p>
  <h2>
    Recently
  </h2>
  <div class="feed">
  {% set items = collections.microblog | sort(true, false, 'date') | limit(16) -%}
  {% for item in items %}
    {% if item.type == 'post' %}
      {% include "feed-writing.njk" %}
    {% else %}
      {% include "feed-note.njk" %}
    {% endif %}
  {% endfor %}
</div>
</section>

<!-- this is here only because indieweb tools expect my home URL to have a microformat profile -->
<div hidden class="h-card vcard" style="display: none;">
  <img src="https://hans.gerwitz.com/about/avatars/munch.jpg" alt="avatar photo" class="photo u-photo"/>
  <a class="url u-url fn p-name" href="https://hans.gerwitz.com/">Hans Gerwitz</a>
  <div class="adr">
    <span class="locality">Amsterdam</span>
  </div>
  <p class="p-note">
    American emigrant.
  </p>
</div>
