---
title: hans.gerwitz.com
layout: base
headtags: |
  <!-- OpenID delegation -->
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d6fc3e55-7717-4688-8e57-55fce40c106c">

  <!-- distributed identity -->
  <link href="https://micro.blog/gerwitz" rel="me">
  <link href="https://twitter.com/gerwitz" rel="me">
  <link href="https://github.com/gerwitz" rel="me">
  <link href="https://www.linkedin.com/in/gerwitz" rel="me">
  <link href="https://www.facebook.com/gerwitz" rel="me">

  <!-- IndieWeb -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link rel="micropub" href="https://sitewriter.net/hans.gerwitz.com/micropub">
---

<h1>Hans Gerwitz</h1>
<section>
  <p>
    You can learn more about me at <a href="/about/" class="internal">about</a>.
    <span class="marginnote">Or read more about this place at <a href="/site/" class="internal">site</a></span>
  </p>
  <p>
    <a href="/writing/" class="internal">writing</a> is where essays and blog posts accumulate.
  </p>
<!--
  <p>
    I keep a journal of sorts under <a href="/weeks/" class="internal">weeks</a>.
    {# <span class="marginnote">The most recent entry is also at <a href="/now/" class="internal">now</a>.</span> #}
  </p>
-->
  <p>
    <a href="/library/" class="internal">library</a> is a labyrinth of random things.
  </p>
  <p>
    I have a microblog at <a href="/notes/" class="internal">notes</a>. Here are a few recent ones:
  <span class="marginnote">These are also copied to <a href="http://micro.blog/gerwitz" rel="me">Micro.blog</a> and <a href="https://twitter.com/gerwitz" rel="me">Twitter</a>.</span>
  <p>
  {% set notes = collections.notes | sort(true, false, 'date') | limit(3) -%}
  {% for note in notes %}
  <blockquote>
    {{ note.templateContent | safe }}
    <footer><a href="{{ note.url }}">{{ note.date | date('MMMM Do, YYYY') }}</a></footer>
  </blockquote>
  {% endfor %}
</section>

<!-- this is here only because indieweb tools expect my home URL to have a microformat profile -->
<div hidden class="h-card vcard" style="display: none;">
  <img src="https://hans.gerwitz.com/about/avatars/munch.jpg" alt="avatar photo" class="photo u-photo"/>
  <a class="url u-url fn p-name" href="https://hans.gerwitz.com/">Hans Gerwitz</a>
  <div class="adr">
    <span class="locality">Amsterdam</span>
  </div>
  <p class="p-note">
    American emigrant.
  </p>
</div>
