---
title: Sitemap
layout: page
permalink: /sitemap/
eleventyExcludeFromCollections: true
---

<dl>

<dt><a href="/writing/" class="internal">writing</a></dt>
<dd>{{ collections.writing | length }} posts and articles</dd>

<dt><a href="/notes/" class="internal">notes</a></dt>
<dd>{{ collections.notes | length }} short, tweet-like notes</dd>

<dt><a href="/weeks/" class="internal">weeks</a></dt>
<dd>An archive of dated content, by week</dd>

<dt><a href="/about/" class="internal">about</a></dt>
<dd>About me</dd>

<dt><a href="/site/" class="internal">site</a></dt>
<dd>About this site</dd>

<dt><a href="/history/" class="internal">history</a></dt>
<dd>Personal history</dd>

<dt><a href="/ideas/" class="internal">ideas</a></dt>
<dd>A collection of memes I find important</dd>

<dt><a href="/projects/" class="internal">projects</a></dt>
<dd>Selected projects</dd>

<dt><a href="/lists/" class="internal">lists</a></dt>
<dd>Lists of whatever else</dd>

</dl>

<h2>
    Standard entry points:
</h2>

<dl>

<dt><a href="/now/" class="internal">now</a></dt>
<dd>&#8594; The most recent week notes as my <a href="https://nownownow.com">now page</a></dd>

<dt><a href="/uses/" class="internal">uses</a></dt>
<dd>&#8594; A <a href="https://twitter.com/mattgemmell/status/700069800861679616">toolkit list</a></dd>

</dl>
