@import '_variables';

@import '_tufte';

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

header {
  .breadcrumb {
    float: left;
    width: 55%;
  }
  .search {
    float: right;
    margin-right: 24px;
  }
}
