@import '_variables';

@import '_tufte';

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

header {
  .breadcrumb {
    float: left;
    width: 55%;
  }
  .search {
    float: right;
    margin-right: 24px;
  }
}

a {
  text-decoration: underline;
  text-decoration-color: $accent-color;
}

a.internal, a.site-title {
  font-family: $sans-font;
  text-decoration: none;
  display: inline-block;
  border: 1.5px solid $accent-color;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
a.internal::before {
  color: $accent-color;
  font-weight: bold;
  content: '/';
}
a.site-title {
  font-weight: bold;
  color: $accent-color;
  border-color: transparent;
}

a:hover {
  color: $page-color;
  background-color: $accent-color;
  &.site-title {
    color: $page-color;
    border-color: $accent-color;
  }
}
a:hover.graphic {
  color: $page-color;
  background-color: inherit;
}
