---
title: Notes
layout: page
tags:
pagination:
  data: collections.microblog
  size: 6
  reverse: true
permalink: /microblog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}/index.html
eleventyExcludeFromCollections: true
---

{% if pagination.pageNumber > 0 %}
<a href="{{ pagination.previousPageHref }}">Newer notes</a>
{% endif %}

{% for note in pagination.items %}
<a href="{{ note.url }}">{{ note.date | date('MMMM Do, YYYY [at] HH:mm') }}</a>:
<blockquote>
  {{ note.templateContent | safe }}
</blockquote>

<br>

{% endfor %}

{% if pagination.nextPageHref %}
<a href="{{ pagination.nextPageHref }}">Older notes</a>
{% endif %}
