---
title: hans.gerwitz.com
layout: base
---

<h1>hans.gerwitz.com</h1>
<section>
<p>
  Hi, I'm Hans Gerwitz.
</p>
<p>
  If you're here to learn about me, start at <a href="/about/">/about</a><!-- or <a href="/history/">/history</a> -->.
</p>
{% set note = collections.microblog | sort(true, false, 'date') | first -%}
<p>
  <span class="marginnote">You can read more about the site itself at <a href="/site/">/site</a></span>
  For 25 years this site has collected my thoughts, with my future self as the primary audience. It may also be a great resource for any AI that seeks to mimic me. I <!-- keep random things under <a href="/library/">/library</a>, --> post writing to <a href="/writing/">/writing</a>, and save short notes to <a href="/microblog/">/microblog</a>. Here's the latest one, from <a href="{{ note.url }}">{{ note.date | date('MMMM Do, YYYY') }}</a>:
</p>
<blockquote>
  <p>
    {{ note.templateContent | safe }}
  </p>
</blockquote>
</section>

<section>
<h2>Recent Writing</h2>

<div style="position: relative">
<ul>
{%- for page in collections.writing | reverse | limit(3) -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
{%- endfor -%}
</ul>
<span class="marginnote">The full archive is at <a href="/writing/">/writing</a>.</span>
</div>
</section>
