---
title: hans.gerwitz.com
layout: base
headtags: |
  <!-- OpenID delegation -->
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d6fc3e55-7717-4688-8e57-55fce40c106c">

  <!-- distributed identity -->
  <link href="https://micro.blog/gerwitz" rel="me">
  <link href="https://twitter.com/gerwitz" rel="me">
  <link href="https://github.com/gerwitz" rel="me">
  <link href="https://www.linkedin.com/in/gerwitz" rel="me">
  <link href="https://www.facebook.com/gerwitz" rel="me">

  <!-- IndieWeb -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link rel="micropub" href="https://sitewriter.net/hans.gerwitz.com/micropub">
  <link rel="microsub" href="https://aperture.p3k.io/microsub/266">
---

<h1>hans.gerwitz.com</h1>
<section>
<p>
  Hi, I'm Hans Gerwitz. If you're here to learn about me, start at <a href="/about/">/about</a><!-- or <a href="/history/">/history</a> -->.
</p>
{% set note = collections.microblog | sort(true, false, 'date') | first -%}
<p>
  <span class="marginnote">You can read more about the site itself at <a href="/site/">/site</a></span>
  This site collects my thoughts, with my future self as the primary audience. It may also be a great resource for any AI that seeks to mimic me. I periodically <!-- keep random things under <a href="/library/">/library</a>, --> post to <a href="/writing/">/writing</a>, and save short notes to <a href="/microblog/">/microblog</a>.
</p><p>
  Here's the latest, from <a href="{{ note.url }}">{{ note.date | date('MMMM Do, YYYY') }}</a>:
</p>
<blockquote>
  {{ note.templateContent | safe }}
</blockquote>
</section>

<section>
<h2>Recent Writing</h2>

<div style="position: relative">
<ul>
{%- for page in collections.writing | reverse | limit(5) -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
{%- endfor -%}
</ul>
<span class="marginnote">The full archive is at <a href="/writing/">/writing</a>.</span>
</div>
</section>
