---
title: Styles Proofsheet
layout: page
eleventyExcludeFromCollections: true
---

<p>This page has no content and should not be indexed. It is used only for regression testing of CSS.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<blockquote>
  This is a blockquote without citation. When <a href="https://github.com/dweidner/markdown-it-attribution" class="external">markdown-it-attribution</a> renders such a quote, it does not wrap it in <code>figcaption</code> just to make our CSS more complicated.
</blockquote>

<p>In aliquet hendrerit orci, vel maximus diam vestibulum at. Aliquam erat volutpat. Morbi non ex eros. Quisque gravida commodo imperdiet. Etiam blandit, ipsum ac elementum pulvinar, sapien velit ultricies ligula, eget lobortis diam sem ut erat. Nullam lobortis, dolor vel iaculis vestibulum, nulla ligula convallis est, et ultricies neque diam id massa. Donec et viverra augue.<label for="fn:1" id="fnref:1"><a href="#fn:1" rel="footnote" role="doc-noteref" aria-describedby="fn:1" class="sidenote-ref">1</a></label></p>

<aside id="fn:1" class="sidenote" form-associated="true"><span class="sidenote-ref">1</span>
<p>This is a short sidenote. It contains <a href="https://gwern.net/sidenote" class="external">a hyperlink</a>.</p>
</aside>

<p>Pellentesque posuere malesuada maximus. Vivamus auctor gravida nisi sed sodales. Nullam ac lectus sed velit auctor lacinia. Maecenas iaculis est id fringilla mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi efficitur arcu sed turpis dictum, at rutrum sem sodales. In turpis risus, pharetra at vestibulum imperdiet, dictum at felis. Fusce sed libero sed tortor mollis aliquet eu eu velit.</p>

<figure class="quotation">
  <blockquote cite="https://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required/">
  <p>This is a blockquote with citation.</p>
  </blockquote>
  <figcaption><a href="https://alistapart.com/blog/post/more-thoughts-about-blockquotes-than-are-strictly-required/" class="external">Based on ALA style</a></figcaption>
</figure>

<h2>Heading 2</h2>

<p>Mauris sodales laoreet mollis. Etiam ac posuere nisl. Fusce scelerisque a quam non rutrum. Sed pellentesque ultrices sem, a convallis magna. Vestibulum vitae molestie diam. Aenean sagittis eros vitae condimentum bibendum.<label for="fn:2" id="fnref:2"><a href="#fn:2" rel="footnote" role="doc-noteref" aria-describedby="fn:2" class="sidenote-ref">2</a></label> Ut id quam eget elit pellentesque mattis. Vivamus ultrices magna vel arcu finibus, nec maximus augue lobortis.</p>

<aside id="fn:2" class="sidenote" form-associated="true"><span class="sidenote-ref">2</span>
  <p>This is a long sidenote, with two paragraphs.</p>
  <p>In hac habitasse platea dictumst. Morbi sit amet interdum lacus. Etiam at erat lacinia, luctus justo sit amet, gravida sem. Suspendisse euismod nunc sed metus mollis, at ornare urna scelerisque. Suspendisse neque nunc, rutrum eu sagittis vel, cursus nec ante. Donec auctor, ipsum at placerat porta, arcu augue semper quam, rutrum tincidunt tellus massa eget arcu. Sed bibendum ornare tortor, vitae molestie metus accumsan id. Pellentesque porttitor sagittis faucibus. Integer eget libero eget massa gravida varius. Suspendisse ut blandit turpis. Sed diam nulla, porttitor eget erat in, lacinia lacinia mauris. Mauris diam ligula, lobortis ac libero eget, mollis venenatis risus.</p>
  </aside>

<p>Nulla facilisi.<label for="fn:3" id="fnref:1"><a href="#fn:3" rel="footnote" role="doc-noteref" aria-describedby="fn:3" class="sidenote-ref">3</a></label> Nunc tristique ut nibh ornare maximus. Suspendisse ut tincidunt enim. Nullam vestibulum sem a libero lobortis, eget condimentum est placerat. Praesent bibendum finibus nibh eget facilisis. Nunc vitae odio at metus sollicitudin ullamcorper non vel turpis. Pellentesque quis leo tellus. Sed at tincidunt nunc, at malesuada elit. Nullam suscipit augue in nisl rhoncus laoreet. Aliquam dictum sit amet nibh nec lobortis. Cras turpis turpis, consequat eget sagittis et, tincidunt ut sem. Aliquam faucibus, dui eu pulvinar interdum, diam urna egestas lectus, ut vulputate odio tortor quis elit. Quisque in neque ornare, malesuada ligula at, tincidunt risus. Mauris facilisis molestie cursus.</p>

<aside id="fn:3" class="sidenote" form-associated="true"><span class="sidenote-ref">3</span>
  <p>This sidenote is awkwardly placed so it will fall below its paragraph.</p>
  </aside>

<h3>Heading 3</h3>

<p>Duis nec pulvinar libero. Pellentesque sed finibus nisi, sit amet ornare eros. Vestibulum non dolor tortor. Nulla semper dolor eu consequat molestie. Curabitur posuere risus est, eget luctus orci porta et. Sed mollis libero sapien, vel tristique justo facilisis eu. In pharetra pretium ipsum, sit amet finibus sem ultricies vel. Nunc facilisis aliquet convallis. Integer aliquet dictum ante vel egestas.</p>

{% include "signature.njk" %}
