---
permalink: /editions/gemini/tinylog/index.gmi
eleventyExcludeFromCollections: true
gemini:
  minimumHeadingLevel: 3
---
# Hans Gerwitz's Tinylog

Mostly tweets that are cross-posted to the Fediverse or Bluesky

author: Hans Gerwitz
avatar: 🌲 (:tree:, U+1F332)

{% for entry in collections.notes | reverse | limit(20) %}
## {{ entry | tinylogDate }}
{{ entry.page.rawInput | gemtext(entry.url, gemini, collections) | trim | safe }}

{% endfor -%}

## Archives

=> /notes/ /notes - all {{ collections.notes | length }} untitled posts
